In the last session, we had a look at the String data type which could be used to store character values. Now let's try building an application which records a customer's detail and assign it a unique user id number generated randomly.

In [1]:
#We would ask the user for his name and mobile number
name= input("What's your name ")
number= input("What's your number ")

What's your name  kirthika
What's your number  19

In [3]:
from random import seed
from random import randint

# generate a three digit random integers for user id
value = randint(100, 999)
print(value)

443

In [5]:
#Now if I want to store these values together I can create a list data type
name= input("What's your name ")
number= input("What's your number ")
value = randint(100, 999)
#Creating a list
my_list=[name,number,value]
print(my_list)
type(my_list)
print(type(my_list))

What's your name  kirthika
What's your number  19

['kirthika', '19', 314]
<class 'list'>

LISTS

LISTS ARE AN ORDERED SEQUENCE OF MIXED DATA TYPES
LISTS ARE WRITTEN AS COMMA SEPERATED ELEMENTS WITHIN SQUARE BRACKETS

In [7]:
L=["INDIA",23,6,"MUMBAI"]
L

['INDIA', 23, 6, 'MUMBAI']

In [9]:
# NESTED LIST 
L=["CHEM","BIO",[23,6],4]
L

['CHEM', 'BIO', [23, 6], 4]

In [11]:
# INDEXING
L[0]

'CHEM'

In [13]:
L[2]

[23, 6]

In [15]:
L[-1]

4

In [17]:
L[-2][0]

23

In [19]:
L[-2][1]

6

In [21]:
# SLICING
L[0:3]

['CHEM', 'BIO', [23, 6]]

In [23]:
# MEMBERSHIPS
L1=[1,2,3,4]
print(1 in L1)

True

In [25]:
L2=[5,6,7,4]
L3=L1+L2
L3

[1, 2, 3, 4, 5, 6, 7, 4]

In [27]:
L3+[9,10]
L3

[1, 2, 3, 4, 5, 6, 7, 4]

In [29]:
L4=L3+[9,10]

In [31]:
# REPLACE
L4[3]=8
L4

[1, 2, 3, 8, 5, 6, 7, 4, 9, 10]

In [33]:
# EXTEND
# THIS SOLVES THE ABOVE ISSUE OF CREATING NEW LIST AFTER APPENDNIG

In [35]:
L3.extend([9,10])
L3

[1, 2, 3, 4, 5, 6, 7, 4, 9, 10]

In [37]:
# APPEND
L3.append([11,12])
L3

[1, 2, 3, 4, 5, 6, 7, 4, 9, 10, [11, 12]]

In [39]:
# DEL
del L3[0]
L3

[2, 3, 4, 5, 6, 7, 4, 9, 10, [11, 12]]

In [41]:
del L3[0:2]
L3

[4, 5, 6, 7, 4, 9, 10, [11, 12]]

In [43]:
L3.pop()

[11, 12]

In [45]:
L3

[4, 5, 6, 7, 4, 9, 10]

pop(index): Remove and return the item at index (default last)

remove(value): Remove the first occurrence of a value in the list

In [48]:
L3.remove(9)
L3

[4, 5, 6, 7, 4, 10]

In [50]:
L3.pop(5)
L3

[4, 5, 6, 7, 4]

There are two functions you can use to sort a list:

sort(): Sorts the elements of a list in place
sorted(): Assign the sorted elements to a new list and the original list is left as is.

Hmm, that works. But what if I would like to add some security and make user id un-changeable or as we call it in programming - immutable, in that case, we'll use a tuple. 

So in this session, we are going to learn more about another new word or a data type actually which is called "Tuple"

<h1 style="color:Brown"> Tuples </h1>

- Tuples are an ordered sequence of mixed data types.
- Tuples are written as comma-separated  elements within parenthesis
- A tuple contains a sequence of comma-separated values within parentheses. An important feature of a tuple is immutability, which means the elements of a tuple cannot be altered. It is used to store data such as employee information, which is not allowed to be changed.
- Tuples are similar to lists in almost of their functionalities, but there is one significant difference in both the data structures lists are mutable and tuples are not.  Let’s start learning about tuples.

In [54]:
t = ("disco", 12, 4.5)
t

('disco', 12, 4.5)

In [56]:
type(t)

tuple

<h3> Tuples can be defined is various ways </h3>

#### A tuple can be defined without using parenthesis

In [ ]:
sample_tuple = 1,2,3,4

print(sample_tuple)

#### Single value tuple

In [59]:
sample_tuple = 1,  
print(sample_tuple)

(1,)

In [61]:
sample_tuple = (1,)  
print(sample_tuple)

(1,)

In [63]:
sample_tuple1 = 1   # This is not a tuple

In [65]:
type(sample_tuple1)

int

In [67]:
sample_tuple2 = (1) # This is not a tuple

In [69]:
type(sample_tuple2)

int

In [71]:
x=('2')
type(x)

str

In [73]:
x=1,2,
type(x)

tuple

In [75]:
x=(hello,'2','3')
type(x)

NameError: name 'hello' is not defined

In [77]:
x=('hello','2','3')
type(x)

tuple

In [79]:
x=('hello',2,3)
type(x)

tuple

### Indexing in tuples

In [82]:
t = ("Mumbai", 84, "Python",)

In [84]:
# gives the element at index location 1
t[1]

84

In [86]:
# gives the last element from tuple
t[-1]

'Python'

In [94]:
# QUESTION METOHD 1
import ast,sys
input_str = input()
input_tuple = ast.literal_eval(input_str)

# Write your code here

# Make sure to name the final tuple 'tuple_2'
# print(tuple_2)

# Convert tuple to list
temp_list = list(input_tuple)

# Add the new element
temp_list.append('Python')

# Convert back to tuple
output_tuple = tuple(temp_list)

# Print result
print(output_tuple)

 ('one')

('o', 'n', 'e', 'Python')

import ast,sys
input_str = sys.stdin.read()
input_tuple = ast.literal_eval(input_str)

explanation 
use

### Slicing

In [96]:
# Slicing first 3 elements from t

t = ("Seattle", 84, "Python", 5, 2, 1)

t[0:3]

('Seattle', 84, 'Python')

In [98]:
# Slicing last 2 elements from t

t = ("Seattle", 84, "Python", 5, 2, 1)

t[-2:]

(2, 1)

In [100]:
# no. of elements in tuple t
t = ("Seattle", 84, "Python", 5, 2, 1)
len(t)

6

#### Cancatenating tuples

In [103]:
tup1 = ("This", "is", "Session", 2)
tup2 = ("on", "Tuples")

# Adding contents of tup2 to tup1 and storing in tup3

tup3 = tup1 + tup2

tup3

('This', 'is', 'Session', 2, 'on', 'Tuples')

#### sum() - min() - max()

In [106]:
t = (2, 4, 3, 5, 7)
sum(t)

21

In [108]:
t = (2, 4, 3, 5, 7)
min(t)

2

In [110]:
t = (2, 4, 3, 5, 7)
max(t)

7

In [112]:
tuple = (2,3.2,4,5) 
print(sum(tuple))
print(min(tuple))
print(max(tuple))

14.2
2
5

In [114]:
t = ("disco", 12, 4.5)
t[0][2]
# The output here would be ‘s’. t[0] would fetch the first element in the tuple, which is a string.
# Since this string is also an iterable set of characters, [2] would give the third character of the string.

's'

In [116]:
t = ("disco", 12, 4.5)
max(t)

TypeError: '>' not supported between instances of 'int' and 'str'

### Immutability of tuples

In [119]:
t = ("USA", 4, 3, "Disco", 7.5)

t[3] = "Hard Rock"

TypeError: 'tuple' object does not support item assignment

In [121]:
new_t = t[0:3] + ("Hard Rock",) + t[4:]
new_t

('USA', 4, 3, 'Hard Rock', 7.5)

### Sorting a tuple

In [124]:
t = (2,3,6,4,8,5)

sorted(t)
# output is a list after sorting tuple to get back to tuple cast it

[2, 3, 4, 5, 6, 8]

In [126]:
x = sorted(t)

tuple(x)

TypeError: 'tuple' object is not callable

In [128]:
t = (2, 3, 6, 4, 8, 5)
x = sorted(t)  # sorted() returns a list
y = tuple(x)   # Convert the sorted list back to a tuple
y
# this should not give error issue with python

TypeError: 'tuple' object is not callable

In [130]:
# Nested Tuples

t = (1,5,"Disco", ("Python", "Java"))

# Access "Java" from the nested tuple
t[3][1]

'Java'

In [132]:
t[3][1][2]

'v'

### Packing and Unpacking In Tuples

In [135]:
t = (1,2,3,4)     # Packing 
(a,b,c,d) = t     # Unpacking 
print (a)

1

#### dir() - to view the attributes or methods of an object
dir() function helps to look for the list of methods that can be used while handling tuples. The dir() function only gives the list of methods available; instead, using the help() function and passing an empty tuple gives you a brief description of each of the methods available with tuples.

In [138]:
t = ()
print(dir(t))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [140]:
t = (1, 2, 4, 3)
print(t[4])

IndexError: tuple index out of range

In [142]:
t[3]=5

TypeError: 'tuple' object does not support item assignment

In [144]:
print(t[1:-4])

()

In [146]:
###STRING OPERATIONS###

In [148]:
k="kirthika"
print(dir(k))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

<h1 style="color:Brown"> Lists </h1>

- Lists are an ordered sequnce of mixed data types.
- Lists are written as comma-separated  elements within square brackets

In [151]:
L = ["USA", 23, 6, "New York"]

L

['USA', 23, 6, 'New York']

In [153]:
# Nested List
L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [155]:
# Indexing
L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[0]

'Chemistry'

In [157]:
L[-3]

'Biology'

In [159]:
L[-1][-1]

'Pearson'

In [161]:
# Slicing

L[0:3]

['Chemistry', 'Biology', [1989, 2004]]

In [163]:
#Membership in Lists

L1 = [1,2,3,4]
print(1 in L1)  # True
print (8 not in L1)  # True

True
True

In [165]:
# List Concatanetion

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
new_L = L + [5, 8]
new_L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [167]:
# Replace "Biology" with "Physics"

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[1] = "Physics"

L

['Chemistry', 'Physics', [1989, 2004], ('Oreily', 'Pearson')]

In [169]:
# extend()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.extend([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [171]:
# append()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.append([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), [5, 8]]

In [173]:
# del Command

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
del L[0]
L

['Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [175]:
del L[0:2]

L

[('Oreily', 'Pearson')]

In [177]:
# pop() 

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.pop()

L

['Chemistry', 'Biology', [1989, 2004]]

In [179]:
# remove()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.remove("Chemistry")

L

['Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [181]:
# Sorting Lists

l = [32, 24, 65, 9]
l.sort()
l

[9, 24, 32, 65]

In [183]:
l.sort(reverse= True)
l

[65, 32, 24, 9]

#### Difference between sort and sorted

In [186]:
A = ["Orange", "Strawberry", "Mango"]
B = A.sort()
print(A)
print(B)

['Mango', 'Orange', 'Strawberry']
None

In [188]:
A = ["Orange", "Strawberry", "Mango"]
C = sorted(A)

print(A)
print(C)

['Orange', 'Strawberry', 'Mango']
['Mango', 'Orange', 'Strawberry']

In [190]:
L = ['one','two','three', 'four', 'five', 'six']

print(sorted(L))

print (L)

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

#### Shadow Copying

In the video above, you learnt about shallow copying, which is an important concept to understand while handling lists.
As you saw, by assigning  B = A, you refer to the same list object in the memory, and the changes made to list A will be
reflected in list B as well. With A[:], you are creating a new object, and this new object is assigned to B; here, any changes in
list A would not affect list B anymore.

In [194]:
A = ["Orange", "Strawberry", "Mango"]
B = A

A[0] = "Apple"

In [196]:
A

['Apple', 'Strawberry', 'Mango']

In [198]:
B

['Apple', 'Strawberry', 'Mango']

In [200]:
A = ["Orange", "Strawberry", "Mango"]
B = A[:]    #Note 'A[:]' is used to call all the values stored in A
#Now B has all the values of A but isn't a shadow copy of A
#Shadow copy is basically assigning multiple labels to a single reference point or memory location

A[0] = "Apple"

In [202]:
A

['Apple', 'Strawberry', 'Mango']

In [204]:
B

['Orange', 'Strawberry', 'Mango']

In [206]:
word = ['1','2','3','4'] 

word[ : ] = [ ] 

print(word)

[]

Now that we know how to store multiple items together let us build another app that could store userid of our customers, which were randomly generated.

We have the following requirements from the app -
1. It shouldn't store duplicate values in the data-set
2. Since the userid are randomly generated the order doesn't matter
3. We need mutability i.e. if we want to delete a particular value we should be able to do so
4. We might frequently want to check whether a user-id is part of the existing data set so it should be able to perform this operation fast

For this use case, we could either use a unique function and maintain our list, but that would be comparatively time-consuming, so let's look at another data type provided by Python, which would be the best fit here.

<h1 style="color:Brown"> Sets </h1>

- Sets are a type of collection like lists and tuples, storing mixed data.
- Sets are enclosed within curly brackets and elements are written as comma-separated.
- Sets are unordered
- Sets do not allow duplicates
'sets' that is unordered, or, in other words, it doesn’t maintain an order in which elements are inserted.
 This makes sets unfit for indexing or slicing

In [208]:
l = [1,3,2,4,5,5]
print(type(l))

set_l = set(l)
print(type(set_l))
set_l

<class 'list'>
<class 'set'>

{1, 2, 3, 4, 5}

In [210]:
len(set_l)

5

In [212]:
a=set_l[1]
print(a)
# sets no indexing

TypeError: 'set' object is not subscriptable

In [214]:
a = {1, 2, 3, 4, 5}

a.add("Australia")

a

{1, 2, 3, 4, 5, 'Australia'}

In [216]:
a = {1, 2, 3, 4, 5, "Australia"}
a.remove("Australia")
a

{1, 2, 3, 4, 5}

In [218]:
# Set Operations

A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

In [220]:
print(A | B) # Union
print (A.union(B))

{0, 1, 2, 3, 4, 5, 6, 8}
{0, 1, 2, 3, 4, 5, 6, 8}

In [222]:
print(A & B) # Intersection
print(A.intersection(B))

{2, 4}
{2, 4}

In [224]:
print(A - B) # Difference
print(A.difference(B))  # only A elements

{0, 8, 6}
{0, 8, 6}

In [226]:
print(A ^ B) # Symmetric Difference

{0, 1, 3, 5, 6, 8}

In [228]:
nums = set([1,1,2,3,3,3,4])

print(len(nums))

4

QUESTION
Let’s say you have two lists A and B. Identify the elements which are common in the two lists A and B and return them in a sorted manner. 
For example 
Sample Input :
A = [5, 1, 3, 4, 4, 5, 6, 7]
B = [3, 3, 5, 5, 1 ,7 ,2]

Sample Output:
[1,3,5,7]
If you observe the sample output here you can see that 
Though value 5 is repeated twice in both lists, in the final output it is present only once.
The values are returned in a sorted manner with values increasing.

In [233]:
import ast,sys
input_str = input()
input_list = ast.literal_eval(input_str)
A1 = input_list[0]
B1 = input_list[1]

def common_elements_sorted(A, B):
    return sorted(set(A) & set(B))

print(common_elements_sorted(A1, B1))

 [[1,2,3,4],[2,3,4,5]]

[2, 3, 4]

https://docs.python.org/3/tutorial/datastructures.html#sets
see all lines careful set comprehensions also there

In this session, we are going to talk about dictionaries. In Python, we use dictionaries to store key-value pairs.
Here is an example -
Let's take the example of a customer as seen earlier.
Now a customer could have multiple attributes such as 
1. Name
2. Email
3. Userid
4. Address 
5. Phone number

Now each of these attributes would be our key and corresponding we'll have values against each on them

With a dictionary, we can store a bunch of key-value pairs, let us now see have a look at the 'Dictionary' data type in Python

<h1 style="color:Brown"> Dictionaries </h1>

- A dictionary stores element as keys and values pairs.
- The key is like an index, it's is always unique and immutable. 
- The values are the objects that contain information.
- Values are accessed using their keys.
- Each key is followed by a value separated by a colon. 
- The values can be immutable, mutable, and duplicates. 
- Each key and value pair is separated by a comma enclosed inside curly brackets.

Dictionary is one data structure that is very useful because of the way in which it is defined. Let's take a look at a small example to understand this. Imagine we have employee data with the following attributes: employee ID, name, age, and designation. Now, let’s say you want to retrieve employee details based on employee ID (since this is unique to each employee). How would you store the data?

E-id
Employee Information
101	Akash, 24, Content Strategist
102	Vishal, 30, Project Manager
...	…..
159	Vikas, 18, Intern

Let’s say you use a list or tuple here; it would simply be difficult. Let’s see how.
First, you should have a list where each element represents an employee, and this element should be iterable again since you have different values to represent every employee.

[[e_id1, name1, age1, designation1],[e_id2, name2, age2, designation2]...]

But would this serve the purpose? There is a problem here:  e_id is unique and cannot be changed, or, in other words, it is an immutable entity. Let’s say we make this entire element a tuple:

[(e_id1, name1, age1, designation1),(e_id2,name2, age2, designation2)...]

Now, this would make name, age and designation immutable entities; instead, they should be mutable entities:
[(e_id1, [name1, age1, designation1]),(e_id2,[name2, age2, designation2])...]

Having arrived at this point, imagine how it is to retrieve information about a particular employee based on their employee id. To achieve this, you need to use the loops concepts in Python, but isn’t this whole thing difficult? Imagine how simple this would be if you used a dictionary here:
E = { e_id1 : [name1, age1, designation1],e_id2 : [name2, age2, designation2],...}

Here - 
e_id is unique;
name, age and designation are mutable; and
simply using E[e_id1] will give employee e_id1’s information

In [235]:
# Creating a dictionary

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}

# Access value using keys

d["USA"]

'USD'

In [237]:
# Replace the value for a key in a dictionary

d["USA"] = "$"

d

{'India': 'INR', 'USA': '$', 'France': 'Euros'}

In [239]:
# Insert new key value pair into a dictionary

d["Japan"] = "Yen"

d

{'India': 'INR', 'USA': '$', 'France': 'Euros', 'Japan': 'Yen'}

In [241]:
# Deleting a key value pair

del d["France"]

d

{'India': 'INR', 'USA': '$', 'Japan': 'Yen'}

In [243]:
# Sorting a dictionary

sorted(d)

['India', 'Japan', 'USA']

In [245]:
# values() Method

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}

d.values()

dict_values(['INR', 'USD', 'Euros'])

In [247]:
# Keys() Method

d.keys()

dict_keys(['India', 'USA', 'France'])

In [249]:
# Update() Method

d.update({'USA':'$'})
d

{'India': 'INR', 'USA': '$', 'France': 'Euros'}

In [251]:
print(dir(d))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [253]:
d = {} 
print(type(d))

<class 'dict'>

In [255]:
d = dict(a=1, b=2) 
print(type(d))

<class 'dict'>

In [257]:
dict_1 = {"Python'':40, "R'':45}

In [259]:
d = {'Python':40, 'R':45}
print(list(d.keys()))

['Python', 'R']

In [261]:
import ast,sys
input_str = sys.stdin.read()
input_dict = { 102:['Shiva', 24, 'Content Strategist'],104:['Udit',25,'Content Strategist'], 105:['Huzefa',32,'Project Manager' ]}
profession=input_dict[104][2]

#Type you answer here

print(profession)

Content Strategist

In [263]:
import ast,sys
input_str = sys.stdin.read()
input_dict={'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}
# input_dict = ast.literal_eval(input_str)
print(list(sorted(input_dict.values())))

['Amazon', 'Apple', 'RJIO', 'Twitter']

seed(a): Fixes the starting point for randomness, ensuring the same output every time.
randint(a, b): Generates a random integer between a and b.
Without seed(), random numbers change every time the program runs.

In [269]:
# Import required libraries:
from random import seed
from random import randint

# Print a random integer in the given range:
print(randint(100,135))

121

In [271]:
seed(100)  # Fixed seed
print(randint(1, 50))  # Always generates the same output if seed is 100
print(randint(1, 50))  # Always the same output if seed is 100

10
30

In [273]:
seed(100)  # Fixed seed
print(randint(1, 50))  # Always generates the same output if seed is 100
print(randint(1, 50))  # Always the same output if seed is 100

10
30

In [275]:
print(randint(100,135))

129

Question 2: Create a list consisting of first 10 even numbers.

In [281]:
# Create a list according to the given condition:
list=[0,2,4,6,8,10,12,14,16,18]

In [283]:
even_numbers = [2 * i for i in range(10)]
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [285]:
even_numbers = list(range(0, 20, 2))  # Start from 0, go up to 18, step by 2
print(even_numbers)

TypeError: 'list' object is not callable

In [287]:
even_numbers = []
for i in range(10):
    even_numbers.append(i * 2)
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Question 3: Create a list in the following manner: [birthyear, firstname, birthdate, lastname]

In [291]:
person_info = [1995, "John", 25, "Doe"]
print(person_info)

[1995, 'John', 25, 'Doe']

In [293]:
birthyear = input("Enter birth year: ")
firstname = input("Enter first name: ")
birthdate = input("Enter birth date: ")
lastname = input("Enter last name: ")

person_info = [birthyear, firstname, birthdate, lastname]
print(person_info)

Enter birth year:  1996
Enter first name:  k
Enter birth date:  19
Enter last name:  kk

['1996', 'k', '19', 'kk']

In [299]:
del list

In [301]:
# using dictionary to create list
person_info = {
    "birthyear": 1995,
    "firstname": "John",
    "birthdate": 25,
    "lastname": "Doe"
}

print(list(person_info.values()))  # Convert dictionary values to list

[1995, 'John', 25, 'Doe']

In [ ]:
Question 4: Create a nested list which consist of 2 students and their scores in mathematics and english:

Students: Alex and Cody

Alex scores 97 and 95 in mathematics and english respectively,

Cody scores 89 and 92 in mathematics and english respectively.

The list should be such that it first stores the name of students followed by the subjects and then their scores in nested lists.

In [303]:
# Create a list according to the given condition:
list2=[['Alex','Cody'],['Mathematics,English'],[97,95],[89,92]]
print(list2)

[['Alex', 'Cody'], ['Mathematics,English'], [97, 95], [89, 92]]

Question 5: Given below is a list, find out whether is has the letter 'k' in it and print the result as true or false.

In [305]:
# Given below is a list:
list3=[1,2,'r',7,'k',6,'o','h','d',5,9]

# Define the character you are searching for:
char='k'

# print the result:
print(char in list3)

True

Question 6: In the tuple given below, print the 3rd element.

In [307]:
# Given below is the tuple:
tuple1=(1,'hello','world','567')

# Print the 3rd element:
print(tuple1[2])

world

Question 7: Given below is a tuple. Sort the tuple and print the result.

In [309]:
# Given below is the tuple:
tuple2=(1,25,67,100,3,54)

# Sort the tuple:
tuple3=sorted(tuple2)

# Print the result:
print(tuple3)

[1, 3, 25, 54, 67, 100]

Question 8: Given below is a list, convert into a set and print the output also print the length of the set.

In [311]:
# Given below is the list:
list4=[1,2,4,6,3,2,5,4,7,4,6,5,3,2,2,1]

# Convert the list into set:
set1=set(list4)

# Print the result:
print(set1)

# Print the length of the set:
print(len(set1))

{1, 2, 3, 4, 5, 6, 7}
7

Question 9: Given below are two sets, perform the operations given below:

Print their union
Print their intersection
Print their difference
Print their symmetric difference

In [313]:
# Given below are two sets:
a={1,2,3,5,6,7}
b={4,5,8,9,2,3}

# Print their union:
print(a.union(b))

# Print their intersection:
print(a.intersection(b))

# Print their difference:
print(a.difference(b))

# Print their symmetric difference:
print(a^b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{2, 3, 5}
{1, 6, 7}
{1, 4, 6, 7, 8, 9}

Question 10: Create a dictionary that stores the names and roll numbers of 5 students as given below:

Sam, 21
Cody, 12
Addy, 3
Zach, 45
Amy, 6

In [315]:
# Create a dictionary:
dict1={'Sam':21, 'Cody':12, 'Addy':3, 'Zach':45, 'Amy':6}

# Print the result:
print(dict1)

{'Sam': 21, 'Cody': 12, 'Addy': 3, 'Zach': 45, 'Amy': 6}

Question 11: Due to admission of new students the roll number of zach has changed from 45 to 47. Make the required changes and print the new dictionary.

In [317]:
# Update the roll number:
dict1['Zach']=47

# Print the new dictionary:
print(dict1)

{'Sam': 21, 'Cody': 12, 'Addy': 3, 'Zach': 47, 'Amy': 6}

Question 12: Sort the dictionary according to roll number.

In [320]:
# Sort and print the students roll number wise in ascending order:
sorted(dict1)

['Addy', 'Amy', 'Cody', 'Sam', 'Zach']

In [ ]:
# Practice Exercise 1 - Python DS

In [322]:
# List of order ID’s which are processed 
processed_orders = [1152, 1154, 1155, 1156, 1157, 1160, 1161, 1162, 1166, 1169, 1170, 1172, 1176, 1050, 1178, 1051, 1052, 1054, 1058, 1060, 1061, 1062, 1065, 1066, 1067, 1068, 1069, 1076, 1077, 1080, 1081, 1083, 1091, 1085, 1088, 1089, 1131, 1092, 1094, 1095, 1099, 1102, 1103, 1104, 1106, 1107, 1108, 1109, 1111, 1117, 1119, 1121, 1150, 1128, 1129, 1136, 1137, 1139, 1140, 1141, 1144, 1148, 1124]

# List of order ID’s which are returned
returned_orders = [1153, 1158, 1159, 1163, 1164, 1165, 1167, 1168, 1171, 1173, 1174, 1175, 1177, 1053, 1055, 1056, 1057, 1059, 1063, 1064, 1070, 1071, 1072, 1073, 1074, 1075, 1078, 1079, 1082, 1084, 1086, 1087, 1090, 1093, 1096, 1097, 1098, 1100, 1101, 1105, 1110, 1112, 1113, 1114, 1115, 1116, 1118, 1120, 1122, 1123, 1125, 1126, 1127, 1130, 1132, 1133, 1134, 1135, 1138, 1142, 1143, 1145, 1146, 1147, 1149, 1151]

# Consider the information available in the above two lists and answer the question given below

In [324]:
# Given lists
processed_orders = [1152, 1154, 1155, 1156, 1157, 1160, 1161, 1162, 1166, 1169, 1170, 1172, 1176, 1050, 1178, 1051, 1052, 1054, 1058, 1060, 1061, 1062, 1065, 1066, 1067, 1068, 1069, 1076, 1077, 1080, 1081, 1083, 1091, 1085, 1088, 1089, 1131, 1092, 1094, 1095, 1099, 1102, 1103, 1104, 1106, 1107, 1108, 1109, 1111, 1117, 1119, 1121, 1150, 1128, 1129, 1136, 1137, 1139, 1140, 1141, 1144, 1148, 1124]

returned_orders = [1153, 1158, 1159, 1163, 1164, 1165, 1167, 1168, 1171, 1173, 1174, 1175, 1177, 1053, 1055, 1056, 1057, 1059, 1063, 1064, 1070, 1071, 1072, 1073, 1074, 1075, 1078, 1079, 1082, 1084, 1086, 1087, 1090, 1093, 1096, 1097, 1098, 1100, 1101, 1105, 1110, 1112, 1113, 1114, 1115, 1116, 1118, 1120, 1122, 1123, 1125, 1126, 1127, 1130, 1132, 1133, 1134, 1135, 1138, 1142, 1143, 1145, 1146, 1147, 1149, 1151]

# Find common orders
common_orders = set(processed_orders) & set(returned_orders)
print(common_orders)
# # Print result
# print("Number of orders in both processed and returned:", len(common_orders))
# print("Orders in both:", common_orders)

set()

In [326]:
total_orders = len(processed_orders) + len(returned_orders)

print("Total number of orders (Processed + Returned):", total_orders)

Total number of orders (Processed + Returned): 129

In [328]:
#### In the total orders, identify the 50th order [ Note: Assume the order ID’s are being generated in a consecutive manner]

In [330]:
# Combine both processed and returned orders
# The smallest order ID is found using min().
# Since order IDs are consecutive, the 50th order will be min_order_id + 49 (because the first order is at min_order_id).

all_orders = processed_orders + returned_orders  

# Find the smallest order ID
min_order_id = min(all_orders)

# Calculate the 50th order ID
fiftieth_order_id = min_order_id + 49  # Since the first order is at position 1

# Print result
print("The 50th order ID is:", fiftieth_order_id)

The 50th order ID is: 1099

In [332]:
# wrong answer as order id not consecutive in each 
all_orders1 = processed_orders + returned_orders  
k=sorted(all_orders1)
print(k[50])

1100

Is 50th order a returned order or processed order?
Returned Order
Processed Order

In [336]:
i=1099 in processed_orders
i

True

What is the last processed order ID ? [ Note: Assume the order ID’s are being generated in a consecutive manner]
1050
1178
1124
1177

To identify the last processed order, the first step is to sort the list; then, using the negative indexing concept and passing index as -1, you can get the last element in the list. 

processed_orders.sort() 

processed_orders[-1]

processed_orders[-1] wrong

In [340]:

processed_orders.sort() 

processed_orders[-1]

1178

Identify the first 4 orders which are processed?

In [342]:
a=sorted(processed_orders)
a[0:4]

[1050, 1051, 1052, 1054]

In [344]:
# Practice Exercise 2 - Python DS

In [346]:
# employee data with key as id of the employee and values as age of the employee
Employee_data ={101: 43, 102: 25, 103: 43, 104: 31, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 39, 141: 29, 142: 33, 143: 39, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 20, 166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 178: 26, 179: 27}

In [348]:
# Identify the senior most employees age
max(Employee_data.values())

45

In [350]:
Employee_data.values()

dict_values([43, 25, 43, 31, 26, 28, 29, 43, 25, 22, 22, 25, 30, 45, 23, 29, 28, 30, 28, 42, 39, 29, 42, 43, 42, 40, 27, 23, 30, 37, 20, 36, 27, 27, 22, 28, 23, 45, 39, 29, 33, 39, 34, 26, 30, 38, 29, 24, 28, 34, 42, 29, 23, 31, 25, 45, 42, 27, 24, 20, 24, 28, 20, 33, 34, 37, 45, 35, 23, 44, 27, 30, 26, 27])

Identify the age of the employee with employee id 159 [ If the employee isn't present return NA]

In [354]:
Employee_data["159"]

KeyError: '159'

In [356]:
employee_age = Employee_data.get(159, "NA")

In [358]:
employee_age

'NA'

In [360]:
l=Employee_data[101]
l

43

In [362]:
total_employees = len(Employee_data)

# Output the result
print(f"Total number of employees in the organization: {total_employees}")

Total number of employees in the organization: 74

Calculate the mean age of the employees

In [366]:
# Calculate mean age
mean_age = sum(Employee_data.values()) / len(Employee_data)

# Output the result
print(f"Total number of employees in the organization: {mean_age}")

Total number of employees in the organization: 31.364864864864863

Perform the following two tasks and then calculate the updated mean age of the employees
Task1 Update the ages of employee id - 104,140, and 164 as 27
Task2 Remove the employ with employee id - 143

In [368]:
Employee_data[104]=140

In [370]:
Employee_data[164]=27

In [372]:
del Employee_data[143]

In [374]:
mean_age = sum(Employee_data.values()) / len(Employee_data)
mean_age

32.84931506849315

In [376]:
# Task 1: Update ages
Employee_data[104] = 27
Employee_data[140] = 27
Employee_data[164] = 27

# Task 2: Remove employee with ID 143
Employee_data.pop(143, None)

# Calculate updated mean age
updated_mean_age = sum(Employee_data.values()) / len(Employee_data)

# Output result
print(f"Updated mean age of employees: {updated_mean_age:.2f}")

Updated mean age of employees: 31.14

In [378]:
# task 1 
# d1 = {104: 27, 140:27, 164:27} Employee_data.update(d1)

# print ("Age of person with employee ID 104 is",Employee_data[104])
# print ("Age of person with employee ID 140 is",Employee_data[140])
# print ("Age of person with employee ID 164 is",Employee_data[164])
# # task2
# de0l Employee_data[143]
 
# mean = sum(Employee_data.values()) / len(Employee_data)
# print ("The average age of employees is", mean)

GUESS QUESTIONS BELOW

In [381]:
# Consider the string given below and answer the following questions 
string = "OQYWFClFhFGAvIWYwGKpmZhnJiyzTslSIhSwvOsqJMEphzmifTkyqOMNpnOtXZxmCfgDYqbaBHAUvIWhMnvwZnEMVDvmEfLrDoQnAZgQEgXQVnmSYkfedpAdhrtpOgORpYLRZYGWdhWYuqQssCUXtTzKRDAhpjUheOzUroZNzWFtZOVwIapzUYtbSbjYNErzQ"
len(string)

193

In [383]:
string.count('a')

2

In [385]:
# Type your code here
a=string[0:2]
if a=="if":
    print("true")
else:
    print("false")

false

Return the substring starting at index 63 and ending at index 88 [Both the indexes are inclusive]

In [388]:
k=string[63:89]
print(k)

mCfgDYqbaBHAUvIWhMnvwZnEMV

Identify the character at index 45

In [391]:
# Type your code here
l=string[45]
print(l)

z

In [393]:
input_str = 'Kumar_Ravi_003'

# Splitting the string by '_'
parts = input_str.split('_')

# Assigning values
second_name = parts[0]
first_name = parts[1]
customer_code = parts[2]

# Printing in the required order
print(first_name)
print(second_name)
print(customer_code)

Ravi
Kumar
003

You can use Python's join() method to concatenate the list elements with " & " as the separator:

In [396]:
lst = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']
result = ' & '.join(lst)
print(result)

Pythons syntax is easy to learn & Pythons syntax is very clear

In [398]:
def remove_vowels(string):
    vowels = "aeiouAEIOU"
    result = ""  # Initialize an empty string
    for char in string:
        if char not in vowels:  # Check if the character is not a vowel
            result = result + char  # Append the non-vowel character to the result
    return result

# Accept input from the user
user_input = input()

# Remove vowels and display the result
print(remove_vowels(user_input))

 kirthika

krthk

ord(char): Converts the character to its ASCII value.

Example: ord('b') = 98

ord(char) - 1 and ord(char) + 1: Get the ASCII values of the previous and next characters.

Example: ord('b') - 1 = 97 (which is 'a')

Example: ord('b') + 1 = 99 (which is 'c')

chr(): Converts the ASCII values back to characters.

Example: chr(97) = 'a', chr(99) = 'c'

In [400]:
# Accept a character from the user
char = input("Enter a character: ")

# Ensure the input is a single character
if len(char) == 1:
    prev_char = chr(ord(char) - 1)  # Get previous character
    next_char = chr(ord(char) + 1)  # Get next character

    print(f"Previous character: {prev_char}")
    print(f"Next character: {next_char}")
else:
    print("Please enter a single character.")

Enter a character:  k

Previous character: j
Next character: l

Write a program to accept three sides of a triangle as the input and print whether the triangle is valid or not.

(A triangle is valid if the sum of any two sides is greater than the third side.)
Sample input:
3 4 5
Sample output:
Valid
Sample input:
1 4 5
Sample output:
Invalid

In [406]:
a,b,c= input().split()

 1 2 3

In [408]:
a

'1'

In [410]:
# Take input
a,b,c= input().split()

# Write your code here
# Convert a,b,c into numeric type and check for the validity of triangle
a=float(a)
b=float(b)
c=float(c)

def validity(a,b,c):
    return a+b>c and b+c>a and c+a>b

if validity(a,b,c):
    print("Valid")
else:
    print("Invalid")

 1 2 3

Invalid

In [412]:
# multiplication table
#Take input
n=int(input())

for i in range(1,11):
    print("{}*{}={}".format(n,i,n*i))
    print(f"{n}*{i}={n*i}")

#write your code here

#write your code here

 9

9*1=9
9*1=9
9*2=18
9*2=18
9*3=27
9*3=27
9*4=36
9*4=36
9*5=45
9*5=45
9*6=54
9*6=54
9*7=63
9*7=63
9*8=72
9*8=72
9*9=81
9*9=81
9*10=90
9*10=90

In [414]:
# occurences in string
# Take input
input_string=input()
input_char=input()
inp=input_string.lower()
out=input_char.lower()
print(inp.count(out))
#write your code here

 apple
 p

2

In [416]:
#sum of digits n=n//10 or n//=10 is same
num=int(input())

def sum_d(n):
    total=0

    while n>0:
        total=total+(n%10) #remainder =last digit
        n=n//10 #remove last digit
    return total

print(sum_d(num))
# write your code here

 99

18

In [418]:
# Write a program to accept a number from the user and count the zeros, odd digits and non-zero even digits from the entered number.
# Take input
# Converted num to a string (str(n)) so we can iterate over its digits.

#Converted each character back to an integer (int(i)) inside the loop.

#Removed the unnecessary check for i > 0 because we already ensure it's a digit.


def cc(n):
    even_count=0
    odd_count=0
    zeros=0
    
    for digit in str(n):
        i=int(digit)
        if i==0:
            zeros=zeros+1
        elif i>0 and i%2==0:
            even_count=even_count+1
        else:
            odd_count=odd_count+1
    return  even_count,odd_count,zeros   

num=int(input())

even,odd,z=cc(num) 

print(f"Number of odd digits:{odd}")
print(f"Number of non-zero even digits:{even}")

print(f"Number of zeros:{z}")      
#write your code here

 20057

Number of odd digits:2
Number of non-zero even digits:1
Number of zeros:2

Write a program that takes a string as the input and does the following:

    -Removes the numbers, special characters
-isalpha,isdigit,isalnum

In [286]:
#Take input
input_string=input()
def required(t):
    t=t.strip()
    cleaned_text=""

    for alphabet in t:
        if alphabet.isalpha():
            cleaned_text+=alphabet

    final_after_swap=cleaned_text.swapcase()
    return final_after_swap
#write your code here
res=required(input_string)
print(res)

 S123jkjhk@33

sJKJHK

In [288]:
# Print the pattern shown in the question above:
print('  1  ')
print(' 234 ')
print('56789')

  1
 234
56789

In [290]:
# Print the pattern shown in the question above:
print('#'*15)

###############

In [292]:
# Take input of the first number and store it in a variable:
num1= input('Enter the first number') 

# Take input of the second number and store it in a variable:
num2= input('Enter the second number') 

# You will need to typecast the input strings into integers
# Calculate the product:
prod= int(num1) * int(num2)

# Print the result:
print(prod)

Enter the first number 3
Enter the second number 6

18

In [294]:
# Find the modulus and print the result:
print('The remainder is',6%4)

The remainder is 2

In [296]:
# Given:
#print('I can't study any longer')

# Corrected solution:
print("I can't study any longer")

I can't study any longer

In [298]:
# Given below is the string:
line= '     I hope you enjoyed this practice session.'

# Removing extra spaces:
line1=line.strip()

# Print the result
print(line1)

# Calculate the length:
print(len(line1))

# Slice the string to remove the last 5 characters:
line2=line1[:36]

# Print the result
print(line2)

# Print the 15th character of the string:
print(line2[14])

# Print the concatenation of first and last character of resulting string:
print(line2[0]+line2[-1])

I hope you enjoyed this practice session.
41
I hope you enjoyed this practice ses
o
Is

In [420]:
s = 'a$b@c@d'
print(s.split('@','$'))
# cant use two side by side use re.split

TypeError: 'str' object cannot be interpreted as an integer

In [302]:
import re
s = 'a$b@c@d'
print(re.split('[@$]', s))

['a', 'b', 'c', 'd']

In [304]:
list_1 = ['red' , 'orange', 'blue', 'green', 'black', 'white']
print(list_1.sort())

None

In [308]:
num_1=[9,4,2,7] 
num_2=[8,3,6,1]
print(sorted(num_1))
print(num_1)
print(num_2.sort())
print(num_2)

[2, 4, 7, 9]
[9, 4, 2, 7]
None
[1, 3, 6, 8]

In [310]:
l = ['paris','india','china','london']

print(tuple(l+['sri lanka']))

TypeError: 'tuple' object is not callable

In [ ]:
Answer IMPORTNAT ABOVE ANS IS WRONG
('paris','india','china','london','sri lanka')

In [312]:
tup=([1,3,5],"abcd",(2,4),6)

tup[0][2]=7

print(tup)

([1, 3, 7], 'abcd', (2, 4), 6)

In [314]:
marks= {'John':45,'Alex':60}

print(marks.keys())

dict_keys(['John', 'Alex'])

In [316]:
s= {3,4,5}

s*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [ ]:
Right answer! The multiplication operation is not supported by sets but by lists and tuples.
Run the code in a Jupyter Notebook by defining ‘s’ as a list or a tuple.

In [318]:
numbers= {1,0,6,1,4,0,7}

print(len(numbers))

5

In [320]:
d = {"Python":40, "R":45}

"Python" in d

True

In [322]:
N = 23
split_digits = [int(digit) for digit in str(N)]
print(split_digits)

[2, 3]

In [356]:
# Take input as a string

N1=input()
# REPLACE ALL  COMMAS TO GET ONLY NUMBER 
N = int(N1.replace(",", ""))
split_digits = [int(digit) for digit in str(N)]


def calcu(M):
    k=0
    for i in split_digits:
        if M%i==0:
            k=k+1
    return k

val=calcu(N)
# CANT DO LENGTH ON INTEGERS SO CONVERT TO STRING AND DO 
val_main=len(str(N)) 
if val==val_main :
    print("Happy Number")
else:
    print("Sad Number")
    
    

# write your code here

 234

Sad Number

1)str(N)  # Converts 23 → "23"
2)for digit in "23":
    print(digit)
2 ANS)'2'
    '3'
3)Each character ('2' and '3') is still a string. We need to convert them into integers:
4)[int(digit) for digit in str(N)]

In [352]:
for I in "23":
    print(I)

2
3

In [420]:
# EXPLAIN
l=[1,2,3]
for i in l:
    print(l)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [422]:
l=[1,2,3]
l1=str(l)
for i in l1:
    print(i)

[
1
,

2
,

3
]

In [424]:
l=[1,2,3]
for i in l:
    print(i)

1
2
3

In [426]:
l=[1,2,3]
def show_and_return_last(l1):
    for i in l1:
        print(i)
    return i  # PNCE IT COMES TO RETURN IT WILL DIRECTLY GO THE PLCE WHERE FUNCTION WAS CALLED
print(show_and_return_last(l))

1
2
3
3

In [434]:
l=[1,2,3]
def show_and_return_last(l1):
    for i in l1:
        print(i)
     
print( show_and_return_last(l))

1
2
3
None

In [436]:
l=[1,2,3]
def show_and_return_last(l1):
    for i in l1:
        print(i)
     
show_and_return_last(l)

1
2
3

In [432]:
k=[(45,77), (88,87), (67,98), (33,31)]
def ch(l):
    for i in range(0,len(l)):
        print(l[i][1])
    return l[i][1]
print(ch(k))

77
87
98
31
31

In [404]:
k=[(45,77), (88,87), (67,98), (33,31)]
def ch(l):
    for i in range(0,len(l)):
        print(l[i][1])
    
print(ch(k))

77
87
98
31
None

In [406]:
k=[(45,77), (88,87), (67,98), (33,31)]
def ch(l):
    for i in range(0,len(l)):
        print(l[i][1])
    
ch(k)

77
87
98
31

In [376]:
k=[(45,77), (88,87), (67,98), (33,31)]
def ch(l):
    for i in range(0,len(l)):
        print(l[i][1])
    return
print(ch(k))

77
87
98
31
None

In [378]:
k=[(45,77), (88,87), (67,98), (33,31)]
def ch(l):
    for i in range(0,len(l)-1):
        print(l[i][1])
    return
print(ch(k))

77
87
98
None

In [388]:
k=[(45,77), (88,87), (67,98), (33,31)]
def ch(l):
    for i in range(0,len(l)-1):
        print(l[i][1])
print(ch(k))

77
87
98
None

In [392]:
k=[(45,77), (88,87), (67,98), (33,31)]
def ch(l):
    for i in range(0,len(l)):
        print(l[i][1])
print(ch(k))

77
87
98
31
None

In [398]:
k = [(45, 77), (88, 87), (67, 98), (33, 31)]

# Define a function to extract the second element of each tuple
def ch(l):
    return l[1]  # Return the second value of the tuple (Physics score)

# Sort using the function
sorted_k = sorted(k, key=ch)

print(sorted_k)

[(33, 31), (45, 77), (88, 87), (67, 98)]

k = [(45, 77), (88, 87), (67, 98), (33, 31)]
Each element in this list is a tuple with:

First value: Aptitude score

Second value: Physics score

So, your list contains:

(45, 77)

(88, 87)

(67, 98)

(33, 31)

🧠 Step 2: Your Function
python
Copy
Edit
def ch(l):
    return l[1]
This function is used to extract the Physics score (the second value in each tuple).

If we test it:

python
Copy
Edit
ch((45, 77)) → 77  
ch((88, 87)) → 87  
ch((67, 98)) → 98  
ch((33, 31)) → 31
🔑 Step 3: How key=ch Works in sorted()
python
Copy
Edit
sorted_k = sorted(k, key=ch, reverse=True)
Here’s what Python does under the hood:

Calls ch() on each element of the list k:

ch((45, 77)) → 77

ch((88, 87)) → 87

ch((67, 98)) → 98

ch((33, 31)) → 31

It uses these values to sort the original tuples.

Since reverse=True, it sorts in descending order based on the values returned by ch() (i.e., the Physics scores).

🧮 Internally It Looks Like:
Python builds something like:


[
  (77, (45, 77)),
  (87, (88, 87)),
  (98, (67, 98)),
  (31, (33, 31))
]
And then it sorts these by the first element (Physics score), in descending order:

(98, (67, 98))  
(87, (88, 87))  
(77, (45, 77))  
(31, (33, 31))
✅ Final Result:


[(67, 98), (88, 87), (45, 77), (33, 31)]
This list is sorted based on highest to lowest Physics scores.

In [400]:
k = [(45, 77), (88, 87), (67, 98), (33, 31)]

# Function to return the second element of the tuple
def ch(l):
    return l[1]  # Return the Physics score

# Sort using the function in descending order
sorted_k = sorted(k, key=ch, reverse=True)

print(sorted_k)

[(67, 98), (88, 87), (45, 77), (33, 31)]

In [ ]:
# other method
sorted_k = sorted(k, key=lambda x: x[1])
print(sorted_k)

In [410]:
k = [(45, 77), (88, 87), (67, 98), (33, 31)]

# Method 1: Using a for loop (Simple & Clear)
second_elements_loop = []
for tup in k:
    second_elements_loop.append(tup[1])
print("Using for loop:", second_elements_loop)

# Method 2: Using list comprehension (Clean One-liner)
second_elements_list_comp = [tup[1] for tup in k]
print("Using list comprehension:", second_elements_list_comp)

# Method 3: Using map() (Functional Approach)
second_elements_map = list(map(lambda x: x[1], k))
print("Using map():", second_elements_map)

# Method 4: Using zip() (Efficient Unpacking)
_, second_elements_zip = zip(*k)  # Extracts second elements
print("Using zip():", list(second_elements_zip))

Using for loop: [77, 87, 98, 31]
Using list comprehension: [77, 87, 98, 31]
Using map(): [77, 87, 98, 31]
Using zip(): [77, 87, 98, 31]

Sample Input - [(45,77), (88,87), (67,98), (33,31)]
In (45,77), which is the first element in the list, 45 and 77 are the scores of a student in aptitude and physics respectively.
Sample Output - [ (67,98), (88,87), (45,77),(33,31)]

In [ ]:
#FINAL ANSWER
import ast
k1 = input()
k = ast.literal_eval(k1)
# Function to return the second element of the tuple
def ch(l):
    return l[1]  # Return the Physics score

sorted_k = sorted(k, key=ch, reverse=True)

print(sorted_k)

question
Sample Input - I lovE PRogrAMMING

Sample Output - 6



Explanation - AMMING is the largest substring with all characters in uppercase continuously

In [412]:
# wrong code this use next one for correct ans

def longest_uppercase_substring(s):
    max_len = 0
    current_len = 0

    for char in s:
        if char.isupper():
            current_len += 1
            max_len = max(max_len, current_len)
        else:
            current_len = 0

    print(max_len)

# Sample Inputs
longest_uppercase_substring("MuMbaI is in MAHArashTRA")   # Output: 4
longest_uppercase_substring("India WOn the WOrLD CUP")    # Output: 3

4
3

In [414]:
#correctc Take input here correct and use retuen instead of print
s1 = input()

def longest_uppercase_substring(s):
    max_len = 0
    current_len = 0

    for char in s:
        if char.isupper():
            current_len += 1
            max_len = max(max_len, current_len)
        else:
            current_len = 0

    return max_len  # Return instead of print

print(longest_uppercase_substring(s1))  # Now this will print the returned value

 MAGArtf HHIHIHI

7

We now iterate over each character in "BVKB jk KBJBJJL".
Character	Is Uppercase?	current_len	max_len
'B'	✅ Yes	1	1
'V'	✅ Yes	2	2
'K'	✅ Yes	3	3
'B'	✅ Yes	4	4
' ' (space)	❌ No	0 (reset)	4
'j'	❌ No	0	4
'k'	❌ No	0	4
' ' (space)	❌ No	0	4
'K'	✅ Yes	1	4
'B'	✅ Yes	2	4
'J'	✅ Yes	3	4
'B'	✅ Yes	4	4
'J'	✅ Yes	5	5 (update max_len)
'J'	✅ Yes	6	6 (update max_len)
'L'	✅ Yes	7	7 (update max_len)

In [416]:
#EXTRA LINE NONE WHEN YOU USE PRINT INSIDE PRINT  Take input here correct and use retuen instead of print
s1 = input()

def longest_uppercase_substring(s):
    max_len = 0
    current_len = 0

    for char in s:
        if char.isupper():
            current_len += 1
            max_len = max(max_len, current_len)
        else:
            current_len = 0

    print(max_len)  # Return instead of print

print(longest_uppercase_substring(s1))  # Now this will print the returned value

 MAGArtf HHIHIHI

7
None

 The scores are provided as a list, with each element as an individual score of the players. Also, there is a condition that if the number of
elements in the list is more than 11, then it is an invalid input and the output should be -1.

Sample Input : [11, 13, 101, 14, 33, 141]

Sample Output : 313



    ---------------------------------------------------------------------------------------------



Sample Input : [11, 13, 101, 14, 33, 141, 12, 144, 54, 67, 8, 11]

Sample Output : -1

In [408]:
import ast
a=input()
# Take list input from user
user_input = ast.literal_eval(a)

# Check condition and calculate sum
if len(user_input) > 11:
    print(-1)
else:
    print(sum(user_input))

 [1,2,3,4,5,6,7,8,9,0,11,1,1,1]

-1

In [452]:
# give string input and int input
# check how many elements in list are greater than that int 

#Take input here using ast sys
import ast
k1 = input()
k2_2=input()

k2=int(k2_2)
k = ast.literal_eval(k1)
def one(kk):
    count=0
    for string_n in kk :
        if len(string_n)>=k2:
            count=count+1
    print(count)
    return count

one(k)#start writing your code here

 ["hyd","calc","hyderabad"]
 4

2

2

In [450]:
# give string input and int input
# check how many elements in list are greater than that int 

#Take input here using ast sys
import ast
k1 = input()
k2_2=input()

k2=int(k2_2)
k = ast.literal_eval(k1)
def one(kk):
    count=0
    for string_n in kk :
        if len(string_n)>=k2:
            count=count+1
    print(count)
    return count

one(k)#start writing your code here

 ["hyderabad"]
 3

1

1

In [ ]:
# k1 = 'hyderabad'
# then will get wrong input 
# string_n becomes 'h', 'y', 'd', ... etc.
# And len('h') is 1 → which is never >= 3 → result is 0.

In [456]:
# werong answer as input given is string and not list 
# give string input and int input
# check how many elements in list are greater than that int 

#Take input here using ast sys
import ast
k1 = input()
k2_2=input()

k2=int(k2_2)
k = ast.literal_eval(k1)
def one(kk):
    count=0
    for string_n in kk :
        if len(string_n)>=k2:
            count=count+1
    print(count)
    return count

one(k)#start writing your code here

 'hyderabad'
 3

0

0

In [466]:
# Even though '19' looks like a number, it's actually a string, so isdigit() works on it.
# The .isdigit() method works only on strings in Python.
# Even though '19' looks like a number, it's actually a string, so isdigit() works on it.
# The .isdigit() method works only on strings in Python.
import ast

k1 = input()  # Example: ['123', 'Python', '56']
k = ast.literal_eval(k1)
j1 = input()  # Example: ['123', 'Python', '56']
j = ast.literal_eval(j1)
def one(m):
    app_list = []
    for i in m:
        if i.isdigit():
            a = str(int(i) + j)
            app_list.append(a)
        else:
            app_list.append(i)
    return app_list

print(one(k))

 ["k","19"]
 10

['k', '29']

In [472]:
a=['Mumbai', 'Delhi', 'Australia', 'Nigeria', 'USA', 'London', 'Canada']
k=int(input())
print(a[k-1:])

 2

['Delhi', 'Australia', 'Nigeria', 'USA', 'London', 'Canada']

Suppose you are working as a Marketing Lead in a company and you want to recruit new employees in your team (which already consists of 10 members)
to carry out the company’s major project. You select the employees based on five parameters: A, B, C, D and E. 
The value of each parameter is represented on a scale of 1 to 10. The present average value of these parameters for your team is given to you in a 
list (in the same order). You recruit a person only if their scores do not reduce the average score of more than two parameters of your team.
If they are recruited, print the output as ‘Selected’. If not, print the output as ‘Rejected’.

In [476]:
# Take input for current averages and candidate scores  shows error cant check <> in line 18
import ast

# Input example: [7, 8, 6, 9, 5]
current_avg = ast.literal_eval(input("Enter current average scores (list of 5 numbers): "))

# Input example: [6, 7, 8, 9, 6]
candidate_scores = ast.literal_eval(input("Enter candidate scores (list of 5 numbers): "))

# Team size is fixed at 10
team_size = 10
decrease_count = 0

# Loop through each parameter and calculate new average
for i in range(5):
    current_total = current_avg[i] * team_size
    new_total = current_total + candidate_scores[i]
    new_avg = new_total / (team_size + 1)

    # Count how many parameters will have reduced average
    if new_avg < current_avg[i]:
        decrease_count += 1

# Final decision
if decrease_count > 2:
    print("Rejected")
else:
    print("Selected")

Enter current average scores (list of 5 numbers):  1,2,3,4,5
Enter candidate scores (list of 5 numbers):  1,1,1,1,1

Rejected

In [ ]:
# correct ones
import ast

# Input example: [7.5, 8.0, 6.0, 9.2, 5.1]
current_avg = list(map(float, ast.literal_eval(input())))

# Input example: [6.1, 7.0, 8.0, 9.5, 6.0]
candidate_scores = list(map(float, ast.literal_eval(input())))

team_size = 10
decrease_count = 0

for i in range(5):
    current_total = current_avg[i] * team_size
    new_total = current_total + candidate_scores[i]
    new_avg = new_total / (team_size + 1)

    if new_avg < current_avg[i]:
        decrease_count += 1

print("Rejected" if decrease_count > 2 else "Selected")

In [ ]:
current_avg = list(map(int, input().split()))
candidate_scores = list(map(int, input().split()))

Sample Input :
{Barcelona:’Messi’ , ‘Real Madrid’: ‘Benzema’, ‘PSG’: ‘Neymar’ }
 [[‘Barcelona’, ‘Griezmann’], [‘PSG’, ‘Ramos’]]
Sample Output: {Barcelona:‘Griezmann’, ‘Real Madrid’: ‘Benzema’, ‘PSG’: ‘Ramos’}

In [ ]:
# update dictionary 
import ast

# Take input: dictionary of football clubs and their main players
club_dict = ast.literal_eval(input())

# Take input: list of updates in the format [[club, new_player], ...]
updates = ast.literal_eval(input())

# Loop through the updates and update the dictionary
for club, new_player in updates:
    club_dict[club] = new_player

# Print the updated dictionary
print(club_dict)

In [478]:
# merge dictionary 
import ast

# Take input for two dictionaries
dict1 = ast.literal_eval(input())  # Example: {'a': 110, 'b': 88}
dict2 = ast.literal_eval(input())  # Example: {'d': 62, 'c': 44}

# Merge the two dictionaries
dict1.update(dict2)

# Print the merged dictionary
print(dict1)

 {'a': 110, 'b': 88}
 {'d': 62, 'c': 44}

{'a': 110, 'b': 88, 'd': 62, 'c': 44}

In [ ]:
FILES

In [ ]:
https://runestone.academy/ns/books/published/pythonds/Introduction/GettingStartedwithData.html#built-in-collection-data-types

In [ ]:
https://docs.python.org/3/tutorial/datastructures.html

In [ ]:
https://docs.python.org/3/tutorial/datastructures.html#dictionaries