In [1]:
import pandas as pd 
df=pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/OzvzVqK4pgg4x7qEadoZMRyVR/insurance.csv")

In [2]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
import pandas as pd

# Load the dataset
df = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/OzvzVqK4pgg4x7qEadoZMRyVR/insurance.csv")

# Define the BMI_group using lambda and apply
df['BMI_group'] = df['bmi'].apply(
    lambda x: 'Underweight' if x < 18.5 else
              'Normal' if x <= 24.9 else
              'Overweight' if x <= 29.9 else
              'Obese'
)

# Display the first five rows
print(df.head())

   age     sex     bmi  children smoker     region      charges   BMI_group
0   19  female  27.900         0    yes  southwest  16884.92400  Overweight
1   18    male  33.770         1     no  southeast   1725.55230       Obese
2   28    male  33.000         3     no  southeast   4449.46200       Obese
3   33    male  22.705         0     no  northwest  21984.47061      Normal
4   32    male  28.880         0     no  northwest   3866.85520  Overweight

In [4]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/OzvzVqK4pgg4x7qEadoZMRyVR/insurance.csv")

# Define conditions for BMI categories
conditions = [
    df['bmi'] < 18.5,
    (df['bmi'] >= 18.5) & (df['bmi'] <= 24.9),
    (df['bmi'] >= 25) & (df['bmi'] <= 29.9),
    df['bmi'] >= 30
]

# Corresponding labels
labels = ['Underweight', 'Normal', 'Overweight', 'Obese']

# Apply conditions to create new column
df['BMI_group'] = np.select(conditions, labels)

# Show first five rows
print(df.head())

   age     sex     bmi  children smoker     region      charges   BMI_group
0   19  female  27.900         0    yes  southwest  16884.92400  Overweight
1   18    male  33.770         1     no  southeast   1725.55230       Obese
2   28    male  33.000         3     no  southeast   4449.46200       Obese
3   33    male  22.705         0     no  northwest  21984.47061      Normal
4   32    male  28.880         0     no  northwest   3866.85520  Overweight

In [5]:
import pandas as pd

# Load the dataset
df = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/OzvzVqK4pgg4x7qEadoZMRyVR/insurance.csv")

# Create BMI groups based on WHO standards
bins = [0, 18.5, 24.9, 29.9, float('inf')]
labels = ['Underweight', 'Normal', 'Overweight', 'Obese']
df['BMI_group'] = pd.cut(df['bmi'], bins=bins, labels=labels, right=True)

# Display the first five rows
print(df.head())

   age     sex     bmi  children smoker     region      charges   BMI_group
0   19  female  27.900         0    yes  southwest  16884.92400  Overweight
1   18    male  33.770         1     no  southeast   1725.55230       Obese
2   28    male  33.000         3     no  southeast   4449.46200       Obese
3   33    male  22.705         0     no  northwest  21984.47061      Normal
4   32    male  28.880         0     no  northwest   3866.85520  Overweight

In [6]:
import pandas as pd

# Load dataset
df = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/OzvzVqK4pgg4x7qEadoZMRyVR/insurance.csv")

# Convert 'smoker' column to numeric
df['smoker_num'] = df['smoker'].apply(lambda x: 1 if x == 'yes' else 0)

# Calculate and print correlations rounded to 4 decimal places
print(round(df['smoker_num'].corr(df['bmi']), 4))
print(round(df['smoker_num'].corr(df['age']), 4))
print(round(df['smoker_num'].corr(df['charges']), 4))

0.0038
-0.025
0.7873

In [7]:
import pandas as pd

# Load dataset
df = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/OzvzVqK4pgg4x7qEadoZMRyVR/insurance.csv")

# Convert 'smoker' column to numeric
df['smoker_num'] = df['smoker'].apply(lambda x: 1 if x == 'yes' else 0)

# Calculate and print correlations with exact 4 decimal places
print(format(df['smoker_num'].corr(df['bmi']), '.4f'))
print(format(df['smoker_num'].corr(df['age']), '.4f'))
print(format(df['smoker_num'].corr(df['charges']), '.4f'))

0.0038
-0.0250
0.7873