# Control Structures and Functions
Control structures are the essence of programming; they help computers do what they do best: automate repetitive tasks intelligently. The most common control structures are if-else statements, for and while loops, and list and dictionary comprehensions. This session will cover all these concepts.

### If statements
"IF" statements are imperative in Python and they help us build programs that could make decisions based on a specified condition


*   If I am tired, I'll go to bed

*   If I am hungry, I'll order food

Notice all these applications start with the word 'IF' and that is the first way we are going to control our applications.

And before writing down a code to mimic a decision, let us first look at the relational operators that would help us test or define some kind of relation between two entities.

Relational operators are used to test equality or inequality of a condition and that condition might change based on your preference.

```
Example -
If its raining == True:
  I'll get an umbrella

```

<h2 style = "color:Brown"> Relational Operators</h2>

- Compares the values on either side of the operator and returns and boolean value as True or False.

#### Double equal to operator

In [1]:
10 == 10

True

<h4 style = "color:Red">Note</h3>

#####' = ' is an assignment operator; it is used to assign value to a variable on the left.

#####'==' is a relational operator; it is used for comparision of equality.

In [3]:
10 == 5

False

#### Not equal to operator

In [6]:
10 != 5

True

#### Greater than operator

In [9]:
10 > 5

True

#### Less than operator

In [12]:
10 < 5

False

#### Greater than equal to operator

In [15]:
10 <= 5

False

#### Less than equal to operator

In [18]:
10 >= 5

True

<h2 style = "color:Brown">Decision Making

Now let's get back to writing a conditional statement with the 'if' condition

To do that we would write it 'if' followed by an expression

#### Write a program to check value in variable x is less than 99

In [ ]:
x = 45

if x < 99:
    print(x, "is less than 99")
else:
    print(x, "is more than 99")

45 is less than 99

In [ ]:
x = 919

if x < 99:
    print(x, "is less than equal to 99")
elif x == 99:
    print(x, "is equal to 99")
else:
    print(x, " is more than 99")

919  is more than 99

## Logical Operators
We use logical operators in situations where we have multiple conditions

####   AND
####   OR
####   NOR
####   XOR

Are some of the common and most widely used logical operators
You can learn more about them from this link: https://pythonlessons.net/python-logic-gates/

#### Write a program to record the age of visitor and allows him to an exclusive children's day party hosted by Mr Obama only if he or she is above 60 years or below 18 years of age

In [ ]:
x = int(input("Enter your age : "))

if x <= 18 or x >= 60 :
    print("Welcome to Party!!")
else:
    print("Sorry!! you do not fit in the age criteria")

#### Write a program which offers various discounts based on purchase bills

In [ ]:
shoppinng_total = 550

if shoppinng_total >= 500:
    print("You won a discount voucher of flat 1000 on next purchase")
elif shoppinng_total >= 250:
    print("You won a discount voucher of flat 500 on next purchase")
elif shoppinng_total >= 100:
    print("You won a discount voucher of flat 100 on next purchase")    
else:
    print("OOPS!! no discount for you!!!")

#### Example on nested if-else

In [20]:
world_cups = {2019 : ['England', 'New Zealand'], 2015:["Australia", "New Zealand"], 2011 : ["India", "Sri Lanka"], 2007: ["Australia", "Sri Lanka"], 2003: ["Australia", "India"]}

In [22]:
world_cups.keys()

dict_keys([2019, 2015, 2011, 2007, 2003])

In [24]:
world_cups[2003]

['Australia', 'India']

In [32]:
year = int(input("Enter year to check New Zealand made it to Finals in 20th century : "))

Enter year to check New Zealand made it to Finals in 20th century :  1996

In [34]:
 year in world_cups

False

In [40]:
coun="Australia"
coun in world_cups

False

In [42]:
world_cups = {2019 : ['England', 'New Zealand'], 2015:["Australia", "New Zealand"], 2011 : ["India", "Sri Lanka"], 2007: ["Australia", "Sri Lanka"], 2003: ["Australia", "India"]}

year = int(input("Enter year to check New Zealand made it to Finals in 20th century : "))

if year in world_cups :
    if "New Zealand" in world_cups[year] :
        print("New Zealand made it to Finals")
    else:
        print("New Zealand could not make it to Finals")
        
else:
    print("World cup wasn't played in", year)

Enter year to check New Zealand made it to Finals in 20th century :  2019

New Zealand made it to Finals

In [44]:
X = 12

if (X > 10 & X < 15):

print('YES')

else:

print('No')

IndentationError: expected an indented block after 'if' statement on line 3 (762842957.py, line 5)

In [ ]:
a=10

b=16

c=20
Missing Part 1: a > b and a > c           

Missing Part 2: b > a and b > c


if( # missing part 1 # ):

    print("a")

elif( # missing part 2 #):

    print("b")

else:

     print("c")

Step 1: Evaluate if (10 < 0) and (0 < -10)
10 < 0 → False

0 < -10 → False

So: False and False → False

👉 So, the first if block does not execute.

✅ Step 2: Evaluate elif (10 > 0) or False
10 > 0 → True

So: True or False → True

👉 So, the elif block does execute.

In [46]:
if (10 < 0) and (0 < -10):

    print("A")

elif (10 > 0) or False:

    print("B")

else:

    print("C")

B

In [50]:

# Write a code to check if the string in input_str starts with a vowel or not. Print capital YES or NO.
import ast,sys
input_str =input()

if input_str[0:1] in('a','e','i','o','u','A','E','I','O','U'):
    print('YES')
else:
    print('NO')
#Write your code here
#Use capital YES or NO

 EGG

YES

<h2 style = "color:Brown">Loops and Iterations

Let’s look at a small example where you have a person’s income and expense data across five months in the form of a list, and you want to compute his savings across these five months. You may be thinking of doing this manually by taking the first elements from the two lists and subtracting them, then again taking the second elements and subtracting, and so on. This may look simple, but let’s say it is across 10 or 20 years. Would you do the same? 

 

This is where the concept of iteration comes in handy, as you are repeating the same operation multiple times. With this in mind, let’s learn more about it.

Let's start with a simple 'While' loop - 
##### A while loop begins with a keyword 'While' followed by an expression 
##### So While this condition is satisfied keep running the loop

In [52]:
# Let's create a pin checker which we generally have in our phones or ATMs THIS WILL KEEP GOING ON FOR EVER
pin = input("Enter your four digit pin: ")
while pin != '1234':
    pin = input('Invalid input, please try again: ')  
print("Pin validation successful.")

Enter your four digit pin:  12
Invalid input, please try again:  123
Invalid input, please try again:  1234

Pin validation successful.

In [54]:
# Now if we want to add a maximum number of tries allowed condition we'll use the if loop

import sys    #required for exiting the code and displaying an error

pin = input("Enter your four digit pin: ")
attempt_count = 1
while pin != '1234':
    if attempt_count >= 3:
     sys.exit("Too many invalid attempts")   #error code
    pin = input('Invalid input, please try again: ')  
    attempt_count += 1
print("Pin validation successful.")

Enter your four digit pin:  12
Invalid input, please try again:  123
Invalid input, please try again:  12344

SystemExit: Too many invalid attempts

C:\Users\Admin\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py:3585: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [56]:
# iterate over list of integers

l = [1,3,4,2,5,6]
for i in l : 
    print(i)

1
3
4
2
5
6

In [58]:
# iterate over a string

string = "New York"
for ch in string:
    print(ch)

N
e
w

Y
o
r
k

In [60]:
# iterate over a string - modify print using end

string = "New York"
for ch in string:
    print(ch, end = ":") # default value of end = "\n"

N:e:w: :Y:o:r:k:

In [62]:
# iterating over a dictionary

students_data = {1:['Sam', 24] , 2:['Rob',25], 3:['Jack', 26], 4:['Cornor',24], 5:['Trump',27]}
for key, val in students_data.items():
    print(key, val)

1 ['Sam', 24]
2 ['Rob', 25]
3 ['Jack', 26]
4 ['Cornor', 24]
5 ['Trump', 27]

In [64]:
# iterate over keys of a dictionary
for key in students_data.keys():
    print(key)

1
2
3
4
5

range function include:

range(n): This creates a range object that has elements from 0 to n-1 [ both inclusive].

range(m,n): This creates a range object that has elements from m to n-1 [both inclusive].

range(m,n,t): This creates a range object that has elements from m to n-1 with a step count of t. In other words, the range object has elements m, m+t, m+2t…so on. If t is negative, the elements would be decreasing, and that’s exactly what happens in the range (100, 0, -1).



An important thing to note here is that you saw a way to create lists using the list function on the range object. list(range(0, 10) would create a list of 10 elements.

In [76]:
# Generate range of values. cant see the values to ssee use loop or list
a=range(1, 101)
print(a)

range(1, 101)

In [72]:
range(1, 101)

range(1, 101)

In [78]:
l = list(range(1,11))
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [80]:
# Iterate over range of values

for i in range(1, 11):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [82]:
# different variations in range

print(list(range(1, 100, 2) ))# gives numbers from 1 to 100 with a step count of 2
print(list(range(100, 0, -1))) # gives a reversed sequence of numbers from 100 to 1

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

break
❗ Exits the current loop immediately.

for class_num in range(1, 3):  # Outer loop
    print(f"Class {class_num}")
    for student in range(1, 5):  # Inner loop
        if student == 3:
            break  # Stops inner loop
        print(f"  Student {student}")

break output:
Class 1
  Student 1
  Student 2
Class 2
  Student 1
  Student 2


continue output:
❗ Skips only the current iteration and moves to the next.
Class 1
  Student 1
  Student 2
  Student 4
  
Class 2
  Student 1
  Student 2
  Student 4
  

pass output:
❗ Does nothing — it's just a placeholder.
pass is usually used when you're writing code and plan to add something later.
Class 1
  Student 1
  Student 2
  Student 3
  Student 4
Class 2
  Student 1
  Student 2
  Student 3
  Student 4

#### Ex. Write a program to print prime numbers between 1 to 20

In [85]:
for n in range(1, 20):
    flag = True
    for i in range(2, n):
        if n % i == 0:
            flag = False
            break   
    if flag :
        print(n)

1
2
3
5
7
11
13
17
19

In [ ]:
# Sample input lists
L1 = [10, 20, 30]
L2 = [1, 2, 3]

# Create an empty list to store differences
L3 = []

# Loop through the lists using index
for i in range(len(L1)):
    L3.append(L1[i] - L2[i])  # Element-wise difference

# Output the result
print(L3)

In [91]:
list(range(0, -101, 2)) 
# This would return an empty list. 
# Since the start index is greater than the end index, there would not any element inside the range object, which, in turn, 
# reflects in the list created.

[]

In [93]:
list(range(-100, -1, 2))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [95]:
sorted(set(range(-2, -101, -2)))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [97]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

0
1
2

In [115]:
a1=['VARMA', 'raj', 'Gupta', 'SaNdeeP']
def one(a):
    
    for i in a:
        c=""
        b=i.title()
        c=c+b
        return c
one(a1)

'Varma'

In [117]:
a1=['VARMA', 'raj', 'Gupta', 'SaNdeeP']
def one(a):
    
    for i in a:
        c=""
        b=i.title()
        c=c+b
    return c
one(a1)

'Sandeep'

In [127]:
a1=['VARMA', 'raj', 'Gupta', 'SaNdeeP']
def one(a):
    
    for i in a:
        c=""
        b=i.title()
        c=c+b
        print(c)
    
one(a1)

Varma
Raj
Gupta
Sandeep

In [129]:
a1=['VARMA', 'raj', 'Gupta', 'SaNdeeP']
def one(a):
    
    for i in a:
        c=[]
        b=i.title()
        c.append(b)
        print(c)
    
one(a1)

['Varma']
['Raj']
['Gupta']
['Sandeep']

In [131]:
a1=['VARMA', 'raj', 'Gupta', 'SaNdeeP']
def one(a):
    c=[]
    for i in a:
        
        b=i.title()
        c.append(b)
        print(c)
    
one(a1)

['Varma']
['Varma', 'Raj']
['Varma', 'Raj', 'Gupta']
['Varma', 'Raj', 'Gupta', 'Sandeep']

 Initialize Inside the Loop — When the variable is only needed temporarily per iteration
If the variable is just used for something inside that loop cycle, and you don’t need it later, you can initialize inside.

✅ Example: Format a string per item

names = ['john', 'doe']
for name in names:
    formatted = name.title()  # Only needed temporarily
    print(formatted)


❌ What happens if you initialize inside when you shouldn't?
You lose data from previous iterations!

for i in range(3):
    result = []         # Resetting every time!
    result.append(i)
print(result)  # Only [2] instead of [0,1,2]

🧠 TL;DR — Quick Rule of Thumb
Purpose	Where to initialize
Accumulate = build a result	Outside the loop
Temporary use per iteration	Inside the loop

In [ ]:
# return should be below for

In [135]:
def one(a):
    c = []
    for i in a:
        b = i.title()
        c.append(b)
    return c

result = one(a1)
print(result)

['Varma', 'Raj', 'Gupta', 'Sandeep']

In [139]:
# import ast,sys
# input_str = sys.stdin.read()
# input_list = ast.literal_eval(input_str)
a1=['VARMA', 'raj', 'Gupta', 'SaNdeeP']
def one(a):
    c = []
    for i in a:
        b = i.title()
        c.append(b)
    return c

print(one(a1))


# Type your code here

['Varma', 'Raj', 'Gupta', 'Sandeep']

In [141]:
# import ast,sys
# input_str = sys.stdin.read()
# input_list = ast.literal_eval(input_str)
a1=['VARMA', 'raj', 'Gupta', 'SaNdeeP']
def one(a):
    c = []
    for i in a:
        b = i.title()
        c.append(b)
    return c

one(a1)

# Type your code here

['Varma', 'Raj', 'Gupta', 'Sandeep']

<h2 style = "color:Brown">Comprehensions

In [ ]:
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

l2 = []

for i in l1 :
    l2.append(len(i))
    
l2

[11, 5, 4, 6, 14]

#### The Functional Approach

In [145]:
# Example on list comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a list consisting of length of each element from the above list

l2 = [len(i) for i in l1]

print(l2)

[11, 5, 4, 6, 14]

without list comprehension 
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = []
for  i in range(len(L1)):
    L3.append(L1[i] - L2[i])
L3

with comprehension it keeps appending in the list
You know this code from our earlier discussions. The same code using a list comprehension is as follows:

# using list comprehension
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = [L1[i] - L2[i] for i  in range(0, len(L1))]
L3

In [148]:
# iterating over l1 and l2 simultaneously
print(l1)
print(l2)
for i,j in zip(l1,l2):
    print(i, " - ", j)

['automobiles', 'Honda', 'Benz', 'Suzuki', 'Morris Garages']
[11, 5, 4, 6, 14]
automobiles  -  11
Honda  -  5
Benz  -  4
Suzuki  -  6
Morris Garages  -  14

In [150]:
# Zip concept
# The zip() function in Python is used to combine multiple iterables (like lists, tuples, etc.) element-wise into pairs (or tuples).
# ✅ Example 1: Zipping two lists
names = ['Alice', 'Bob', 'Charlie']
scores = [85, 92, 78]

zipped = zip(names, scores)
print(list(zipped))

[('Alice', 85), ('Bob', 92), ('Charlie', 78)]

In [152]:
# ✅ Example 2: Using in a for loop
names = ['Alice', 'Bob', 'Charlie']
scores = [85, 92, 78]
for name, score in zip(names, scores):
    print(f"{name} scored {score}")

Alice scored 85
Bob scored 92
Charlie scored 78

In [154]:
# ✅ Example 3: Zipping more than 2 lists
a = [1, 2, 3]
b = ['a', 'b', 'c']
c = [True, False, True]

print(list(zip(a, b, c)))

[(1, 'a', True), (2, 'b', False), (3, 'c', True)]

In [156]:
# ❗Note: zip() stops at the shortest list
a = [1, 2, 3]
b = ['x', 'y']

print(list(zip(a, b)))  # Only first two pairs

[(1, 'x'), (2, 'y')]

In [158]:
# 🧰 Use Cases:
# Pairing items from multiple lists

# Creating dictionaries:
dict(zip(['a', 'b'], [1, 2]))  # {'a': 1, 'b': 2}

{'a': 1, 'b': 2}

#### Dictionary comprehension

In [160]:
# Example on dictionary comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a dictionary consisting of element and length of each element from the above list

d = {i : len(i) for i in l1}

print(d)

{'automobiles': 11, 'Honda': 5, 'Benz': 4, 'Suzuki': 6, 'Morris Garages': 14}

In [175]:
# SEE EXPLANATION BELOW FOR LIST AND DICTIONARY DIFF WHILE APPENDING

In [164]:
updated_dict = {i : i**2 for i in range(2,21) if i % 2 ==0}
updated_dict

{2: 4,
 4: 16,
 6: 36,
 8: 64,
 10: 100,
 12: 144,
 14: 196,
 16: 256,
 18: 324,
 20: 400}

In [171]:
# 🔵 1. Dictionary: Adding key-value pairs
ordinary_dict = {}

for i in range(2, 21):
    if i % 2 == 0:
        ordinary_dict[i] = i**2  # Adding a key-value pair

print(ordinary_dict)

# 🧠 What’s happening:
# You're directly assigning the value to a key.
# ordinary_dict[i] = i**2 adds or updates the dictionary.
# No .append() is needed.
# OUTPUT:{2: 4, 4: 16, 6: 36, ..., 20: 400}

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400}

In [169]:
# 🔴 2. List: Appending values

ordinary_list = []

for i in range(2, 21):
    if i % 2 == 0:
        ordinary_list.append(i**2)  # Appending a value

print(ordinary_list)
# 🧠 What’s happening:
# You're using .append() to add a new item to the list.
# This adds only values, not key-value pairs like dictionaries.
# OUTPUT:[4, 16, 36, ..., 400]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

#### Set Comprehensions

#### Ex . Write a program which takes a word as input from user and returns vowels from the word

In [177]:
word = input("Enter a word : ")
for char in word:
    print(char)

Enter a word :  kirt

k
i
r
t

In [189]:
word = input("Enter a word : ")
c=set()
for char in word:
    if char in "aeiou":
        c.add(char)
c

Enter a word :  baat

{'a'}

In [191]:
word = input("Enter a word : ")
c=set()
for char in word:
    if char in "aeiou":
        c.add(char)
c

Enter a word :  abcei

{'a', 'e', 'i'}

In [183]:
word = input("Enter a word : ")
vowels = {char for char in word if char in "aeiou"}
vowels

Enter a word :  kirt

{'i'}

In [193]:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [195]:
d = {x.upper(): x*3 for x in 'acbd'}
print(d)

{'A': 'aaa', 'C': 'ccc', 'B': 'bbb', 'D': 'ddd'}

In [197]:
# SQAURES FROM 1 
import ast, sys
n = int(input())
# Write your code here (remember to print the list)

squares = [i**2 for i in range(1,n+1) ]
print(squares)

 4

[1, 4, 9, 16]

In [201]:
import ast,sys
input_str =input()
input_list = ast.literal_eval(input_str)

list_vowel =[i for i in input_list if i[0:1] in ('a','e','i','o','u')] 
print(list_vowel)

 ['wood','old','apple','big','item','euphoria']

['old', 'apple', 'item', 'euphoria']

<h2 style = "color:Brown">Functions</h2>

#### Ex. Write a function which takes a value as a parameter and returns its factorial

In [ ]:
# 5!=5*4*3*2*1
# n!=n!*(n-1)!...

In [203]:
def factorial(n):
    
    fact = 1
    
    for i in range(1, n+1):
        fact *= i
        # fact=fact+fact*i
    
    return fact

factorial(5)

120

In [205]:
factorial(4)

24

#### Function Arguments

In [207]:
def func(name, age = 35):  # default parameter
    print("name : ", name)
    print("age : ", age)

In [209]:
func("Jane", 25)

name :  Jane
age :  25

In [211]:
func("Jane")

name :  Jane
age :  35

In [213]:
def func(name, age = 35, city = "New York"):
    print("name : ", name)
    print("age : ", age)
    print("city : ", city)
    
func("Jane", city = "Seattle") # key-word argument

name :  Jane
age :  35
city :  Seattle

In [ ]:
def var_func(*args):
    print(args)
    
var_func(1,3,"abc") # variable-length argument

(1, 3, 'abc')

In [215]:
def var_func(*args):
    print(args*2)
    
var_func(1,3,"abc") # variable-length argument

(1, 3, 'abc', 1, 3, 'abc')

In [217]:
def var_func(*args):
    print(args*2)
    
var_func(1,3) # variable-length argument

(1, 3, 1, 3)

In [219]:
def a(*args):
    result = []
    for i in args:
        if isinstance(i, str):
            result.append(i * 2)
        elif isinstance(i, int):
            result.append(i ** 2)
    return tuple(result)
a("k",9)

('kk', 81)

In [221]:
def var_func(*args):
    print(sum(args))
    
var_func(1,3) # variable-length argument

4

In [ ]:
# ARGS AND KWARGS

In [ ]:
# Expression	Meaning
# sum(args)	Sums all elements inside the tuple
# args * 2	Repeats the whole tuple

Difference between *args and **kwargs:
Feature 	*args        	                      **kwargs
Type	     Tuple	                              Dictionary
Usage	     For variable number of values	      For variable number of key-value pairs
Example	     func(1, 2, 3)	                      func(name="Bob", age=25)

In [ ]:
# 🧠 What is **kwargs?
# **kwargs stands for "keyword arguments".

# It allows you to pass a variable number of named arguments (i.e., key-value pairs) into a function.

# Inside the function, kwargs is treated as a dictionary.

In [223]:
def show_details(**kwargs):
    print(kwargs)

show_details(name="Alice", age=25, city="Paris")

{'name': 'Alice', 'age': 25, 'city': 'Paris'}

In [225]:
# ACCESS VALUES
def show_details(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

show_details(name="Bob", job="Engineer")

name: Bob
job: Engineer

In [239]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input())
x = int(input_list[0])
y = int(input_list[1])

def squared(a,b):
    return a**b

#Write your code here

print(squared(x,y))

 [2,3]

8

<h2 style = "color:Brown"> Lambda Function

In [241]:
# These functions can take multiple parameters as input but can only execute a single expression; in other words,
# they can only perform a single operation.
# function_name  = lambda <space>  input_parameters :  output_parameters 
# For example: diff = lambda x,y : x-y is a lambda function to find the difference of two elements

In [243]:
# Write a lambda function to check a number is even or odd

f = lambda x: "even" if x % 2 == 0 else "odd"

f(10)

'even'

In [245]:
square = lambda x: x**2

# Example usage
num = int(input("Enter a number: "))
print("Square is:", square(num))

Enter a number:  3

Square is: 9

In [247]:
# conditional square
conditional_square = lambda x: x**2 if x > 0 else "Not positive"

# Test
print(conditional_square(4))   # Output: 16
print(conditional_square(-3))  # Output: Not positive

16
Not positive

In [251]:
# Create a lambda function 'greater', which takes two arguments x and y and return x if x>y otherwise y.
# If x = 2 and y= 3, then the output should be 3.
# Sample Input:
# ['9','3']
# Sample Output:
# ﻿9

import ast,sys
input_str = input()
input_list = ast.literal_eval(input_str)
x = int(input_list[0])
y = int(input_list[1])


# Lambda function to return the greater value
greater = lambda x, y: x if x > y else y

# Output
print(greater(x, y))

#Write your code here

 [9,19]

19

In [253]:
def func(x, y):
    z = x * y + x + y

func(2)

TypeError: func() missing 1 required positional argument: 'y'

In [255]:
def func(x = 1 ,y = 2):
    z = x * y + x + y
    return z

func(2, func(3))

35

In [259]:
min = (lambda x, y: x if x < y else y)
min(101*99, 102*98)
# min(101*99, 102*98) input takes two values x and y x=101*99 and y=102*98

9996

<h2 style = "color:Brown">map - filter - reduce

In [ ]:
# Map is a function that works like list comprehensions and for loops. It is used when you need to map or implement functions on various
# elements at the same time.
# map(function,iterable object)
# The function here can be a lambda function or a function object.
# The iterable object can be a string, list, tuple, set or dictionary.

In [267]:
countries=["India","Japan","United"]
f = lambda x: x.upper()
f("India")

'INDIA'

In [271]:
capital_countries=[]
for country in countries:
    capital_countries.append(f(country))
capital_countries

['INDIA', 'JAPAN', 'UNITED']

In [287]:
# map is used to run function in loop 
# map(function,iterable object) 
# map function sh will have either lambda or def in first part 
map(lambda x: x.upper(),countries)

In [285]:
list(map(lambda x: x.upper(),countries))

['INDIA', 'JAPAN', 'UNITED']

#### Some more examples on map - filter - reduce

In [ ]:
L1 = [2,4,5]
print(map(lambda x: x**2, L1))
print(list(map(lambda x: x**2, L1)))

<map object at 0x10d8aeb70>
[4, 16, 25]

#### Defining a function and using it in map

In [289]:
L1 = [2,4,5]
def squareit(n):
    return n**2

print(list(map(squareit, L1)))

[4, 16, 25]

#### Filter function to return the multiples of 3

In [ ]:
# 'Filter' is similar to map function, only distinguishing feature being that it requires the function to look for a condition
# and then returns only those elements from the collection that satisfy the condition.

In [ ]:
my_list = [3,4,5,6,7,8,9]

divby3 = lambda x:  x % 3 == 0

div = filter(divby3, my_list)
print(list(div))

[3, 6, 9]

#### Ex. Write a python program to count the students above age 18

In [293]:
students_data = {1:['Sam', 15] , 2:['Rob',18], 3:['Kyle', 16], 4:['Cornor',19], 5:['Trump',20]}
students_data

{1: ['Sam', 15],
 2: ['Rob', 18],
 3: ['Kyle', 16],
 4: ['Cornor', 19],
 5: ['Trump', 20]}

In [303]:
f=lambda x : x[1] > 18

# What does x represent?
# x here will be each value in the dictionary, i.e., a list like ['Sam', 15], ['Rob', 18], etc.

# What does x[1] > 18 do?
# It checks if the second element of the list (x[1], which is the age) is greater than 18.

In [305]:
f(['Kyle', 16])

False

In [311]:
list(filter(lambda x : x[1] > 18, students_data.values()))

[['Cornor', 19], ['Trump', 20]]

In [309]:
len(list(filter(lambda x : x[1] > 18, students_data.values())))

2

#### Reduce to return product of elements

In [ ]:
# 'Reduce' is an operation that breaks down the entire process into pair-wise operations and uses the result from each operation,
# with the successive element. The syntax of reduce function is given below. 
# reduce(function,iterable object)

# The function object passed to the reduce function decides what expression is passed to the iterable object.
# The iterable object can be a string, list, tuple, set or dictionary.
# Also, reduce function produces a single output.

In [317]:
from functools import reduce
l=range(1,7)
print(l)
list(l)

range(1, 7)

[1, 2, 3, 4, 5, 6]

In [321]:
f=lambda x, y: x*y
f(2,3)

6

In [323]:
from functools import reduce
q  = reduce(lambda x, y: x*y,l)
print(q)

720

In [325]:
from functools import reduce
q  = reduce(lambda x, y: x*y, range(1,4))
print(q)

6

In [ ]:
# 🧱 Breakdown:
# Step 1: range(1, 4)
# This gives:

# python
# Copy
# Edit
# [1, 2, 3]
# Step 2: lambda x, y: x*y
# This anonymous function takes two inputs and returns their product.

# Step 3: reduce(lambda x, y: x*y, [1, 2, 3])
# Now let’s go through how reduce applies the function step-by-step:

# First, it takes the first two elements: 1 and 2
# → 1 * 2 = 2

# Then it takes the result (2) and the next element (3)
# → 2 * 3 = 6

In [327]:
from functools import reduce
list_1 = ['Paul','Ted']
reduce(lambda x,y: x + y,list_1)

'PaulTed'

In [ ]:
# QUESTION

Question
A word is said to belong to the red team if it has the letter r in it.
Write an 'if' statement to check whether the given word belongs to the red team or not.

In [335]:
a=input()
if 'r' in a :
    print("The word belongs to red team")
else:
    print("The word does not  belongs to red team")

 april

The word belongs to red team

Question¶
In continuation to previous example, if the word has the letter 'b', it belongs to the blue team. And if the word has both 'r' and 'b' then first letter gets a precedence. And if the word does not have the letter 'r' or 'b', it does not belong to any team. ######Example: (word,output)

rabbit = red team
brand = blue team
dog = no team
Write a condition for this decision.

In [337]:
a=input()
if 'r' in a and 'b' in a:
    if a[r]>a[b] :
        print("red team")
    if a[b]>a[r]:
        print("blue team")
        
elif 'r' in a :
    print("The word belongs to red team")
elif 'b' in a :
    print("The word belongs to blue team")

else:
    print("no nee")

 blue

The word belongs to blue team

In [349]:
a=input()
if 'r' in a and 'b' in a:
    if a.index('r')>a.index('b') :
        print("blue team")
    if a.index('b')>a.index('r'):
        print("red team")
        
elif 'r' in a :
    print("The word belongs to red team")
elif 'b' in a :
    print("The word belongs to blue team")

else:
    print("no nee")

 blur

blue team

Question
Write a program to print all the numbers which are divisible by 17 between 1 and a given number 'n'.

In [353]:
a=int(input())
len(list(map(lambda x:x%17==0,range(0,a+1))))

 18

19

🔍 What it does:
a = int(input()) → Takes an integer input from the user (e.g., 18).

range(0, a + 1) → Generates numbers from 0 to a (inclusive).

map(lambda x: x % 17 == 0, ...) → Applies the lambda function to each number in the range. This function returns True if the number is divisible by 17, else False.

The result is a list like: [True, False, False, ..., True]

len(...) → Returns the total number of elements, not how many are True.

❌ Problem:
This gives the length of the entire list (which is a + 1), not the count of numbers divisible by 17. So it does not solve your problem correctly.

In [357]:
a = int(input())
count = len(list(filter(lambda x: x % 17 == 0, range(0, a + 1))))
count

 18

2

🔍 What it does:
range(0, a + 1) → Generates numbers from 0 to a.

filter(...) → Only keeps values where x % 17 == 0 is True.

list(...) → Converts the filtered output to a list.

len(...) → Counts how many items are in the list → this gives the number of values divisible by 17.

✅ Example:
If a = 18 → numbers from 0 to 18 → only 0 and 17 are divisible by 17.

So, count = 2

Question
Write a program to add 13 to all the elements of a given numeric list. ######Example -

Input list = [1,5,27]
Output list = [14,18,40]

In [363]:
import ast,sys
input_str =input()
a = ast.literal_eval(input_str)

b=list(map(lambda x:x+13,a))
b

 [1,2,3]

[14, 15, 16]

Question
In continuation to the example above, execute the same operation on the same sample list using list comprihension.

In [365]:
import ast,sys
input_str =input()
a = ast.literal_eval(input_str)
b=[x+13 for x in a]
b

 [1,2,3]

[14, 15, 16]

In [ ]:
Question
Count the total number of unique characters in a given sentence. #####Example -

Input - 'total'
Output - 'o', 'a', 'l'

In [3]:
import ast,sys
input_str =input()

b=[x for x in input_str]
print(b)

 kir

['k', 'i', 'r']

In [379]:
#IMPORTANT If your input is not a list or tuple, ast.literal_eval() will throw an error.
import ast,sys
input_str =input()
b=[x for x in input_str]
print(b)
c=set(b)
print(c)

 cact

['c', 'a', 'c', 't']
{'a', 't', 'c'}

In [381]:
sample_sentence = "Pack my box with five dozen liquor jugs"
 
# write code here 
 
unique_letter = set(sample_sentence)
number = len(unique_letter)
print(unique_letter)
number

{'z', 'l', 't', 'b', 'g', 'x', 'w', 'f', ' ', 'd', 'm', 'a', 'u', 'h', 'k', 'e', 'q', 'i', 'r', 'y', 'j', 'v', 's', 'o', 'n', 'P', 'c'}

27

Write a code to ask the user to input three numbers and then print the largest one among the three.

In [387]:
num = input("Enter three numbers :")

num_list = num.split()

a = int(num_list[0])
b = int(num_list[1])
c = int(num_list[2])

print (a,b,c)

if a>b: 
    if a>c:
        print ("The largest number is ", a)
    else: 
        print ("The largest number is ", c)
else:
    if b>c:
        print ("The largest number is ", b)
    else: 
        print ("The largest number is ", c)

Enter three numbers : 1 2 3

1 2 3
The largest number is  3

Question
Check whether a number is perfect or not.

A perfect number is a number that is sum of all of its positive divisors (excluding itself). For more info refer to this link - https://www.geeksforgeeks.org/perfect-number/

In [391]:
n = int (input("Enter the number you want to check: "))

sum = 0
for x in range(1, n):
    if n % x == 0:
        sum += x
        
if sum == n:
    print ("The number is a perfect number")
else: 
    print ("The number is not a perfect number")

Enter the number you want to check:  28

The number is a perfect number

Question
Add the elements in the two given lists using map and lambda functions.

In [393]:
list1 = [5, 8, 9, 12]
list2 = [10, 12, 8, 6]

# write code here 

sol = list(map(lambda x, y : x+y, list1, list2))
sol

[15, 20, 17, 18]

factorial

In [395]:
n = int (input ("Enter a natural number "))

n_list = range(1,n+1)
from functools import reduce
factorial = reduce(lambda x,y: x*y, n_list)
factorial

Enter a natural number  5

120

Question 
This question has two tasks:
* Task 1 - Find the factors of all the numbers in a given list. 
* Task 2 - Add the numbers and their factors to a dictionary where the key will be the numbers from the list, and the values will be the factors of the respective number. 

Example - 
Sample output :
{6: [1, 2, 3, 6],
98: [1, 2, 7, 14, 49, 98],
34: [1, 2, 17, 34],}

In [397]:
sample_list = [6, 98, 34, 45, 64, 7, 2, 5, 78, 90, 324, 111, 657, 438]

# write code here 
solu_dict = {}
for num in sample_list:
    fact_list = []
    for i in range (1,num+1):
        if num%i ==0:
            fact_list.append(i)
    solu_dict[num]=fact_list      
solu_dict

{6: [1, 2, 3, 6],
 98: [1, 2, 7, 14, 49, 98],
 34: [1, 2, 17, 34],
 45: [1, 3, 5, 9, 15, 45],
 64: [1, 2, 4, 8, 16, 32, 64],
 7: [1, 7],
 2: [1, 2],
 5: [1, 5],
 78: [1, 2, 3, 6, 13, 26, 39, 78],
 90: [1, 2, 3, 5, 6, 9, 10, 15, 18, 30, 45, 90],
 324: [1, 2, 3, 4, 6, 9, 12, 18, 27, 36, 54, 81, 108, 162, 324],
 111: [1, 3, 37, 111],
 657: [1, 3, 9, 73, 219, 657],
 438: [1, 2, 3, 6, 73, 146, 219, 438]}

In [422]:
# Using the function Map, count the number of words that start with ‘S’ in input_list.
# Sample Input:
# ['Santa Cruz','Santa fe','Mumbai','Delhi']
# Sample Output:
# 2

import ast,sys
input_str =input()
input_list = ast.literal_eval(input_str)


# Map returns True/False for each element, then convert to int (1 for True, 0 for False)
count = list(map(lambda word: word.startswith('S'), input_list))
  # ['Santa Cruz', 'Santa fe']
print(count)
filtered = len(list(filter(lambda word: word.startswith('S'), input_list)))
print(filtered)

 ["SAS","ABC","sadd"]

[True, False, False]
1

Create a list ‘name’ consisting of the combination of the first name and the second name from list 1 and 2 respectively. 



For e.g. if the input list is:

[ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]


The output list should be the list:

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']


Note: Add a space between first name and last name.

In [424]:
import ast,sys
input_str = input()
input_list = ast.literal_eval(input_str)
first_name = input_list[0]
last_name = input_list[1]
# Use map and lambda to combine
name = list(map(lambda x: x[0] + " " + x[1], zip(first_name, last_name)))

print(name)

 [ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

🧱 Step 1: Extract each sublist

first_names = input_list[0]
last_names = input_list[1]
Now:

first_names = ['Ankur', 'Avik', 'Kiran', 'Nitin']
last_names = ['Narang', 'Sarkar', 'R', 'Sareen']

🔗 Step 2: zip(first_names, last_names)
zip(first_names, last_names)
This pairs up corresponding elements from both lists into tuples:

It creates something like:
[('Ankur', 'Narang'), ('Avik', 'Sarkar'), ('Kiran', 'R'), ('Nitin', 'Sareen')]

🧠 Step 3: Use map() with lambda
map(lambda x: x[0] + " " + x[1], zip(first_names, last_names))
x is each tuple, like ('Ankur', 'Narang')
x[0] is 'Ankur'
x[1] is 'Narang'
x[0] + " " + x[1] → 'Ankur Narang'

So this line transforms the list of tuples into:

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']
📦 Step 4: Convert map object to list

name = list(...)
Finally:
name = ['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [426]:
# method 2
list1 = ['Ankur', 'Avik', 'Kiran', 'Nitin']
list2 = ['Narang', 'Sarkar', 'R', 'Sareen']

name = [f"{first} {last}" for first, last in zip(list1, list2)]
print(name)

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [428]:
list1 = ['Ankur', 'Avik', 'Kiran', 'Nitin']
list2 = ['Narang', 'Sarkar', 'R', 'Sareen']

name = [first + " " + last for first, last in zip(list1, list2)]
print(name)

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [430]:
import ast,sys
input_str = input()
input_list = ast.literal_eval(input_str)

list_answer1 =lambda x: x % 5 == 0 #Write your answer here
list_answer=list(filter(list_answer1,input_list))
print(list_answer)

 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [434]:
# Extract a list of names that start with an ‘s’ and end with a ‘p’ (both 's' and 'p' are lowercase) in input_list.
import ast,sys
input_str = input()
input_list = ast.literal_eval(input_str)
# Fix the typo in 'startswith'
list_answer1 = lambda x: x.startswith('s') and x.endswith('p')
list_answer = list(filter(list_answer1, input_list))
print(list_answer)

 ['soap','sharp','shy','silent','ship','summer','sheep']

['soap', 'sharp', 'ship', 'sheep']

In [444]:
# Using the Reduce function, concatenate a list of words in input_list, and print the output as a string.
# If input_list = ['I','Love','Python'], the output should be the string 'I Love Python'.
import ast,sys
input_str = input()
input_list = ast.literal_eval(input_str)
q=str(reduce(lambda x,y:x+" "+y,input_list))

q

 ['I','Love','Python']

'I Love Python'

✅ Summary
Environment	Just q shows output?	Use print(q)?
Python shell / Jupyter	✅ Yes	Optional
Script / Code editor	❌ No	✅ Required

In [450]:
# You are given a list of numbers such as input_list = [31, 63, 76, 89]. Find and print the largest number in input_list using the reduce() function.
import ast,sys
input_str = input()
input_list = ast.literal_eval(input_str)

from functools import reduce



# Use reduce with a lambda and if condition
maximum = reduce(lambda x, y: x if x > y else y, input_list)

print(maximum)

 [31, 63, 76, 89]

89

In [ ]:
# quiz

In [452]:
input_string = "I love Python"
k = [(i.upper(), len(i)) for i in input_string.split(' ')]
print(k)

[('I', 1), ('LOVE', 4), ('PYTHON', 6)]

In [454]:
var = [i**2 for i in range(5)]
print(var)

[0, 1, 4, 9, 16]

In [456]:
l1=[1,2,3,7]
l2=[4,5,6,9]
[x+y for x in l1 for y in l2]

[5, 6, 7, 10, 6, 7, 8, 11, 7, 8, 9, 12, 11, 12, 13, 16]

In [458]:
def function(n):
  n=n+1
 
n=2
print(function(2))

# This function takes a parameter n.

# Inside the function, it adds 1 to n, but…

# It does not return anything! (No return statement)

None

In [460]:
x=10
def func(x):
   x=20
print(x)
 
print(x)

10
10

✅ What’s Happening?
x = 10

This creates a global variable x with the value 10.
Function definition:

def func(x):
    x = 20
This defines a function func that takes a parameter x.

Inside the function, the local variable x is set to 20.

But you never call func(), so nothing inside the function happens.

print(x)

Since the function wasn’t called, the global variable x is still 10.

So the output is:
10
10

In [462]:
def samplefunc(msg,i=3):
  print(msg*i)
 
samplefunc('python',4)
samplefunc('program')

pythonpythonpythonpython
programprogramprogram

Value	Boolean Equivalent	Meaning
0	False	"Off", "No", "False"
1	True	"On", "Yes", "True"

In [464]:
f=lambda x:bool(x%2)
print(f(100)* f(101))

0

In [466]:
f=lambda x:bool(x%2)
f(100)

False

In [468]:
f=lambda x:bool(x%2)
f(101)

True

In [470]:
False*True

0

In [472]:
input_string = "I love Python"
k = [(i.upper(), len(i)) for i in input_string.split(' ')]
print(k)

[('I', 1), ('LOVE', 4), ('PYTHON', 6)]

In [474]:
var = [i**2 for i in range(5)]
print(var)

[0, 1, 4, 9, 16]

In [476]:
l=(1, -2, -3, 4, 5)
def f1(x):
    return x//2
m1=map(f1, l)
print(list(m1))

[0, -1, -2, 2, 2]

In [478]:
from functools import reduce
numbers = [-1, 2, -5, 3, 8,-2, 1,-4,-2]
sum = reduce(lambda x, y: x + y, numbers)
print(sum)

0

In [480]:
sample=[-4,2,5,-3]
ans=map(lambda x: x*2, sample)
print(ans)

<map object at 0x0000027B4B973E80>

In [ ]:
# map object at 0x0000027B4B973E80 is called address of an answer

In [482]:
from functools import reduce
print(list(reduce(lambda x,y:x+y,range(5,15))))

TypeError: 'int' object is not iterable

🔍 Step-by-step Explanation
1. range(5, 15)
This creates a sequence of numbers starting from 5 to 14 (not including 15):
range(5, 15) → [5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
2. reduce(lambda x, y: x + y, range(5, 15))
The reduce function applies the lambda cumulatively:

First step: 5 + 6 = 11

Second step: 11 + 7 = 18

Third step: 18 + 8 = 26

...

Final step: sum of all numbers from 5 to 14

This gives the total sum:
5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 + 13 + 14 = 105
3. list(reduce(...)) ❌
This is the mistake.

reduce returns a single value (in this case, an integer), not a list.

Trying to convert that integer to a list using list() gives an error like:

TypeError: 'int' object is not iterable

In [484]:
import functools

lis=[1, 2, 3, 4, 5]

m=functools.reduce(lambda x, y:x if x<y else y, lis)

print(m)

1

In [486]:
lis=[1, 2, 3, 4, 5]

c=lis[0]

for i in range(len(lis)-1):

    if lis[i]<c:

       c=lis[i]

print(c)

1

In [488]:
letters = ('d','i','a','s')
ans = list(map(lambda word: f"{word}x", letters))
print(ans)

['dx', 'ix', 'ax', 'sx']

In [490]:
def sf(a):
    return a%4==0 and a%8!=0
m=filter(sf, range(10, 31))
print(list(m))

[12, 20, 28]

In [492]:
# write the code here
import ast
import sys

# Read input from the system
input_str = input()

# Convert the input string to an actual Python list
input_list = ast.literal_eval(input_str)

# Filter even numbers using filter and lambda
output = list(filter(lambda x: x % 2 == 0, input_list))

# Print the result
print(output)

 [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

[22, 54, 62]

In [494]:
# write the code here
import ast
import sys

# Read input from the system
input_str = input()

# Convert the input string to an actual Python list
input_list = ast.literal_eval(input_str)

# Filter even numbers using filter and lambda
output = list(map(lambda x: x*3, input_list))

# Print the result
print(output)

 [5,10,20]

[15, 30, 60]

In [502]:
# reverse and uppercase 
# write the code here
import ast
import sys

# Read input from the system
input_str = input()

# Convert the input string to an actual Python list
input_list = ast.literal_eval(input_str)

# Filter even numbers using filter and lambda
output = list(map(lambda x: x.upper()[::-1], input_list))

# Print the result
print(output)

 ["abc","def"]

['CBA', 'FED']

In [ ]:
# output = [x.upper()[::-1] for x in input_list]  method 2

In [512]:
import ast

# Read inputs
list1 = ast.literal_eval(input())
list2 = ast.literal_eval(input())
list3 = ast.literal_eval(input())

# Convert all lists to lowercase sets
set1 = set([name.lower() for name in list1])
set2 = set([name.lower() for name in list2])
set3 = set([name.lower() for name in list3])

# Find common elements in all three sets
common_names = list(set1 & set2 & set3)

# Sort if needed

output = [x.lower() for x in list3 if x.lower() in common_names]

# Print result
print(output)

 ['Arkam', 'Bairstow', 'Cairy', 'Darpan']
 ['ARKAM', 'Bairstow', 'Cairy', 'Darpan', 'Dhoni', 'Sachin']
 ['arkam', 'bairstow', 'Cheteshwar', 'Dinesh']

['arkam', 'bairstow']

['Arkam', 'Bairstow', 'Cairy', 'Darpan'] 

['ARKAM', 'Bairstow', 'Cairy', 'Darpan', 'Dhoni', 'Sachin']

['arkam', 'bairstow', 'Cheteshwar', 'Dinesh']

A teacher decided to divide the class into groups to conduct fun activities. Each group had one or more members in it. The data is provided in the form of a list with dictionary elements. The key and value in each dictionary correspond to the student’s roll number and his/her name.
In case the length of two or more dictionaries are the same, then the dictionary that occurs first in the input list will also appear first among the other dictionaries of the same length.
Your task is to write a Python program to sort the list in descending order with respect to the group strength.
Note: Use lambda and sorted functions to solve the question.

Input: List
Output: List

Sample input: [{4: 'Viking', 9: 'Happy', 10: 'Tony', 2: 'Rogers'}, {12: 'Vikram', 19: 'Vipan'}, {3: 'Kohli'}, {1: 'Ronaldo', 29: 'Harish', 7: 'Ganesh'}]
Sample output: [{4: 'Viking', 9: 'Happy', 10: 'Tony', 2: 'Rogers'}, {1: 'Ronaldo', 29: 'Harish', 7: 'Ganesh'}, {12: 'Vikram', 19: 'Vipan'}, {3: 'Kohli'}]
----------------------------------------------------------------------
Sample input: [{14: 'Darpan', 19: 'Harry', 10: 'Julia'}, {12: 'Ethan', 19: 'Rogers'}, {3: 'Kohli', 1: 'Neymar', 29: 'Sachin', 7: 'Ramesh'}]
Sample output: [{3: 'Kohli', 1: 'Neymar', 29: 'Sachin', 7: 'Ramesh'}, {14: 'Darpan', 19: 'Harry', 10: 'Julia'}, {12: 'Ethan', 19: 'Rogers'}]

In [516]:
import ast
import sys


# Read input from system (stdin)
input_str = input()
# Read input
input_list = ast.literal_eval(input_str)

# Sort based on group strength (length of each dictionary), descending
sorted_list = sorted(input_list, key=lambda x: len(x), reverse=True)

print(sorted_list)

 [{14: 'Darpan', 19: 'Harry', 10: 'Julia'}, {12: 'Ethan', 19: 'Rogers'}, {3: 'Kohli', 1: 'Neymar', 29: 'Sachin', 7: 'Ramesh'}]

[{3: 'Kohli', 1: 'Neymar', 29: 'Sachin', 7: 'Ramesh'}, {14: 'Darpan', 19: 'Harry', 10: 'Julia'}, {12: 'Ethan', 19: 'Rogers'}]

Given is a list consisting of dictionary elements. Each dictionary contains the name of a student as a first item and his/her corresponding rank as the second item. Your task is to write a Python program to print the list (dictionary elements) in a sorted ascending order according to student ranks. In case the rank of two or more students are the same, then sort them in ascending order (alphabetically) according to their names.
Note: Use the sorted() function to solve the question.

Input: Dictionary
Output: Dictionary

----------------------------------------------------------------------

Sample input: [{ "name" : "Arpit", "rank" : 20}, { "name" : "Manjeet", "rank" : 20 },{ "name" : "Aravind" , "rank" : 19 }]
Sample output: [{ "name" : "Aravind" , "rank" : 19 }, { "name" : "Arpit", "rank" : 20}, { "name" : "Manjeet", "rank" : 20 }]

----------------------------------------------------------------------
Sample input: [{ "name" : "Mohan", "rank" : 2}, { "name" : "Mandeep", "rank" : 2 },

{ "name" : "Merut" , "rank" : 2 }]
Sample output: [{'name': 'Mandeep', 'rank': 2}, {'name': 'Merut', 'rank': 2}, {'name': 'Mohan', 'rank': 2}]

In [518]:
import sys
import ast

# Read the input from system
# input_str = sys.stdin.read()
input_str=input()

# Convert the input string to a list of dictionaries
input_list = ast.literal_eval(input_str)

# Sort the list using rank and then name
sorted_list = sorted(input_list, key=lambda x: (x['rank'], x['name']))

# Print the sorted list
print(sorted_list)

 [{ "name" : "Mohan", "rank" : 2}, { "name" : "Mandeep", "rank" : 2 },  { "name" : "Merut" , "rank" : 2 }]

[{'name': 'Mandeep', 'rank': 2}, {'name': 'Merut', 'rank': 2}, {'name': 'Mohan', 'rank': 2}]